/* content.reportAlertDashWrap */
.content.reportAlertDashWrap{margin-left:200px;}

/* content.reportAlertHistoryWrap */
.content.reportAlertHistoryWrap{margin-left:200px;}

.reportAlertHistoryWrap .alertHistoryWrap{margin:20px 20px 20px 20px;}
.reportAlertHistoryWrap .alertHistoryWrap .historyMenu{padding:15px;border-bottom:1px solid #edf1f2;}
.reportAlertHistoryWrap .alertHistoryWrap .historyMenu .tableInfoSection{float:left;}
.reportAlertHistoryWrap .alertHistoryWrap .historyMenu .tableInfoSection .totalBox{float:left;height:26px;line-height:26px;}
.reportAlertHistoryWrap .alertHistoryWrap .historyMenu .tableInfoSection .totalBox .totalLabel{font-size:14px;margin-right:5px;}
.reportAlertHistoryWrap .alertHistoryWrap .historyMenu .tableInfoSection .totalBox .totalValue{font-size:14px;margin-right:5px;}
.reportAlertHistoryWrap .alertHistoryWrap .historyMenu .tableInfoSection .totalBox .totalUnit{font-size:14px;margin-right:5px;}
.reportAlertHistoryWrap .alertHistoryWrap .historyMenu .tableInfoSection .lineBox{float:left;width:100px;height:26px;line-height:26px;padding-left:5px;border-left:1px solid #dee5e7;}
.reportAlertHistoryWrap .alertHistoryWrap .historyMenu .tableInfoSection .lineBox .lineLabel{float:left;font-size:14px;margin-right:5px;}
.reportAlertHistoryWrap .alertHistoryWrap .historyMenu .tableInfoSection .lineBox .selectLine{float:left;width:50px;height:26px;line-height:26px;}