/* content.auth */
.content.authWrap{margin-left:0;padding-top:20px;}

.content.authWrap .authContent{float:left;width:100%;margin:0 auto;}
.content.authWrap .authContent .boxes{width:330px;margin:0 auto;}
.content.authWrap .authContent .boxes .titleBox{margin-top:80px;height:80px;text-align:center;}
.content.authWrap .authContent .boxes .titleBox .title{display:block;width:100%;font-size:20px;font-weight:700;color:#363f44;line-height:50px;}
.content.authWrap .authContent .boxes .titleBox .subTitle{display:block;width:100%;color:#58666e;font-weight:bold;}

.content.authWrap .authContent .boxes .smPanelWrap.mentBox{padding:20px 0;}
.content.authWrap .authContent .boxes .smPanelWrap.mentBox .icon{text-align:center;font-size:20px;color:#98a6ad;font-weight:600;}
.content.authWrap .authContent .boxes .smPanelWrap.mentBox .ment{margin-top:5px;text-align:center;font-size:12px;color:#98a6ad;font-weight:600;}

.content.authWrap .authContent .boxes .authMenu{margin-top:20px;}
.content.authWrap .authContent .boxes .authMenu .moveToSignIn a{float:left;color:#363f44;font-size:14px;}
.content.authWrap .authContent .boxes .authMenu .moveToSignIn a:hover{color:#000;}

.content.authWrap .authContent .boxes .authFooter{margin-top:35px;}
.content.authWrap .authContent .boxes .authFooter .copy{display:block;width:100%;font-size:14px;color:#98a6ad;text-align:center;}