/* content.forgot */
.content.forgotWrap{margin-left:0;padding-top:20px;}

.content.forgotWrap .forgotContent{float:left;width:100%;margin:0 auto;}
.content.forgotWrap .forgotContent .boxes{width:330px;margin:0 auto;}
.content.forgotWrap .forgotContent .boxes .titleBox{margin-top:80px;height:80px;text-align:center;}
.content.forgotWrap .forgotContent .boxes .titleBox .title{display:block;width:100%;font-size:20px;font-weight:700;color:#363f44;line-height:50px;}
.content.forgotWrap .forgotContent .boxes .titleBox .subTitle{display:block;width:100%;color:#58666e;font-weight:bold;}

.content.forgotWrap .forgotContent .boxes .forgotForm .inputs{height:65px;margin:0 auto;}
.content.forgotWrap .forgotContent .boxes .forgotForm .inputs .list-group-item{padding:6px 10px;}
.content.forgotWrap .forgotContent .boxes .forgotForm .inputs .list-group-item i{font-size:14px;text-align:center;width:20px;color:#ccc;}
.content.forgotWrap .forgotContent .boxes .forgotForm .inputs .list-group-item input{border:none;width:70%;margin-left:12px;line-height:35px;font-size:14px;}
.content.forgotWrap .forgotContent .boxes .forgotForm .inputs .list-group-item input:focus{outline:0;}
.content.forgotWrap .forgotContent .boxes .forgotForm .btns{margin-top:5px;}
.content.forgotWrap .forgotContent .boxes .forgotForm .btns .forgotBtn{width:100%;line-height:30px;}

.content.forgotWrap .forgotContent .boxes .forgotMenu{margin-top:20px;}
.content.forgotWrap .forgotContent .boxes .forgotMenu .moveToSignIn a{float:left;color:#363f44;font-size:14px;}
.content.forgotWrap .forgotContent .boxes .forgotMenu .moveToSignIn a:hover{color:#000;}

.content.forgotWrap .forgotContent .boxes .forgotFooter{margin-top:35px;}
.content.forgotWrap .forgotContent .boxes .forgotFooter .copy{display:block;width:100%;font-size:14px;color:#98a6ad;text-align:center;}