/* content.login */
.content.loginWrap{margin-left:0;padding-top:20px;}

.content.loginWrap .loginContent{float:left;width:47%;margin-left:2%;}
.content.loginWrap .loginContent .boxes{width:330px;margin:0 auto;}
.content.loginWrap .loginContent .boxes .titleBox{margin-top:80px;height:80px;text-align:center;}
.content.loginWrap .loginContent .boxes .titleBox .title{display:block;width:100%;font-size:20px;font-weight:700;color:#363f44;line-height:50px;}
.content.loginWrap .loginContent .boxes .titleBox .subTitle{display:block;width:100%;color:#58666e;font-weight:bold;}

.content.loginWrap .loginContent .boxes .loginForm .inputs{height:100px;margin:0 auto;}
.content.loginWrap .loginContent .boxes .loginForm .inputs .list-group-item{padding:6px 10px;}
.content.loginWrap .loginContent .boxes .loginForm .inputs .list-group-item i{font-size:14px;text-align:center;width:20px;color:#ccc;}
.content.loginWrap .loginContent .boxes .loginForm .inputs .list-group-item input{border:none;width:70%;margin-left:12px;height:35px;line-height:35px;font-size:14px;}
.content.loginWrap .loginContent .boxes .loginForm .inputs .list-group-item input:focus{outline:0;}
.content.loginWrap .loginContent .boxes .loginForm .btns{margin-top:20px;}
.content.loginWrap .loginContent .boxes .loginForm .btns .loginBtn{width:100%;line-height:30px;}

.content.loginWrap .loginContent .boxes .loginMenu{margin-top:5px;}
.content.loginWrap .loginContent .boxes .loginMenu .rememberMe{float:right;margin-top:20px;line-height:14px;}
.content.loginWrap .loginContent .boxes .loginMenu .rememberMe label{color:#363f44;font-size:14px;line-height:14px;}
.content.loginWrap .loginContent .boxes .loginMenu .rememberMe label:hover{color:#000;}
.content.loginWrap .loginContent .boxes .loginMenu .createAccount a{float:left;color:#363f44;font-size:14px;}
.content.loginWrap .loginContent .boxes .loginMenu .createAccount a:hover{color:#000;}
.content.loginWrap .loginContent .boxes .loginMenu .forgotPW a{float:right;color:#363f44;font-size:14px;}
.content.loginWrap .loginContent .boxes .loginMenu .forgotPW a:hover{color:#000;}

.content.loginWrap .loginContent .boxes .loginFooter{margin-top:35px;}
.content.loginWrap .loginContent .boxes .loginFooter .copy{display:block;width:100%;font-size:14px;color:#98a6ad;text-align:center;}

.content.loginWrap .loginSide.smPanelWrap{float:right;width:47%;height:380px;margin-top:80px;margin-right:2%;background-color:#fff;}
.content.loginWrap .loginSide.smPanelWrap .prodBox{font-size:14px;line-height:380px;text-align:center;}