/* content.otp */
.content.otpWrap{margin-left:0;padding-top:20px;}

.content.otpWrap .otpContent{float:left;width:100%;margin:0 auto;}
.content.otpWrap .otpContent .boxes{width:330px;margin:0 auto;}
.content.otpWrap .otpContent .boxes .titleBox{margin-top:80px;height:80px;text-align:center;}
.content.otpWrap .otpContent .boxes .titleBox .title{display:block;width:100%;font-size:20px;font-weight:700;color:#363f44;line-height:50px;}
.content.otpWrap .otpContent .boxes .titleBox .subTitle{display:block;width:100%;color:#58666e;font-weight:bold;}

.content.otpWrap .otpContent .boxes .qrcodeBox{margin:15px 0;text-align:center;}
.content.otpWrap .otpContent .boxes .qrcodeBox .qrcodeImg{width:300px;}

.content.otpWrap .otpContent .boxes .otpForm .inputs{height:65px;margin:0 auto;}
.content.otpWrap .otpContent .boxes .otpForm .inputs .list-group-item{padding:6px 10px;}
.content.otpWrap .otpContent .boxes .otpForm .inputs .list-group-item i{font-size:14px;text-align:center;width:20px;color:#ccc;}
.content.otpWrap .otpContent .boxes .otpForm .inputs .list-group-item input{border:none;width:70%;margin-left:12px;line-height:35px;font-size:14px;}
.content.otpWrap .otpContent .boxes .otpForm .inputs .list-group-item input:focus{outline:0;}
.content.otpWrap .otpContent .boxes .otpForm .btns{margin-top:10px;}
.content.otpWrap .otpContent .boxes .otpForm .btns .otpBtn{width:100%;line-height:30px;}

.content.otpWrap .otpContent .boxes .otpMenu{margin-top:20px;}
.content.otpWrap .otpContent .boxes .otpMenu .moveToSignIn a{float:left;color:#363f44;font-size:14px;}
.content.otpWrap .otpContent .boxes .otpMenu .moveToSignIn a:hover{color:#000;}

.content.otpWrap .otpContent .boxes .otpFooter{margin-top:35px;}
.content.otpWrap .otpContent .boxes .otpFooter .copy{display:block;width:100%;font-size:14px;color:#98a6ad;text-align:center;}