/* content.register */
.content.registerWrap{margin-left:0;padding-top:20px;}

.content.registerWrap .registerContent{float:left;width:100%;margin:0 auto;}
.content.registerWrap .registerContent .boxes{width:330px;margin:0 auto;}
.content.registerWrap .registerContent .boxes .titleBox{margin-top:80px;height:80px;text-align:center;}
.content.registerWrap .registerContent .boxes .titleBox .title{display:block;width:100%;font-size:20px;font-weight:700;color:#363f44;line-height:50px;}
.content.registerWrap .registerContent .boxes .titleBox .subTitle{display:block;width:100%;color:#58666e;font-weight:bold;}

.content.registerWrap .registerContent .boxes .registerForm .inputs{height:150px;margin:5px auto;}
.content.registerWrap .registerContent .boxes .registerForm .inputs .list-group-item{padding:6px 10px;}
.content.registerWrap .registerContent .boxes .registerForm .inputs .list-group-item i{font-size:14px;text-align:center;width:20px;color:#ccc;}
.content.registerWrap .registerContent .boxes .registerForm .inputs .list-group-item input{border:none;background-color:transparent;width:70%;margin-left:12px;line-height:35px;font-size:14px;}
.content.registerWrap .registerContent .boxes .registerForm .inputs .list-group-item input:focus{outline:0;}
.content.registerWrap .registerContent .boxes .registerForm .argreeInput{margin-top:15px;}
.content.registerWrap .registerContent .boxes .registerForm .argreeInput label{font-size:14px;font-weight:normal;}
.content.registerWrap .registerContent .boxes .registerForm .btns{margin-top:20px;}
.content.registerWrap .registerContent .boxes .registerForm .btns .registerBtn{width:100%;line-height:30px;}

.content.registerWrap .registerContent .boxes .registerMenu{margin-top:20px;}
.content.registerWrap .registerContent .boxes .registerMenu .moveToSignIn a{float:left;color:#363f44;font-size:14px;}
.content.registerWrap .registerContent .boxes .registerMenu .moveToSignIn a:hover{color:#000;}

.content.registerWrap .registerContent .boxes .registerFooter{margin-top:35px;}
.content.registerWrap .registerContent .boxes .registerFooter .copy{display:block;width:100%;font-size:14px;color:#98a6ad;text-align:center;}