/* content.devices */
.content.devicesWrap{margin-left:200px;}

.sideMenu.deviceSide{overflow:hidden;}
.sideMenu.deviceSide .hideScroll{overflow:auto;width:217px;}
.sideMenu.deviceSide .hideScroll.onScroll{width:234px;}
.sideMenu.deviceSide .hideScroll .groups li a:after{display:block;clear:both;content:""}
.sideMenu.deviceSide .hideScroll .groups li.root a{display:block;width:100%;padding:10px 20px 10px;font-size:14px;color:#869fb1;font-weight:700;-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;}
.sideMenu.deviceSide .hideScroll .groups li.root a:hover{background-color:#16232d;color:#fff;}
.sideMenu.deviceSide .hideScroll .groups li.root a.active{background-color:#16232d;color:#fff;}
.sideMenu.deviceSide .hideScroll .groups li.root a i.corpIcon{float:left;margin-top:3px;margin-right:5px;color:#27c24c;}
.sideMenu.deviceSide .hideScroll .groups li.root a span.deviceGroupText{float:left;display:block;overflow:hidden;width:130px;white-space:nowrap;text-overflow: ellipsis;}
.sideMenu.deviceSide .hideScroll .groups li.root a span.deviceGroupText:hover{white-space:normal;word-break:break-word;}
.sideMenu.deviceSide .hideScroll .groups li.root a.active span.deviceGroupText{white-space:normal;word-break:break-word;}

.sideMenu.deviceSide .hideScroll .groups li.group a{display:block;width:100%;padding:5px 20px 5px 35px;font-size:14px;color:#869fb1;font-weight:normal;-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;}
.sideMenu.deviceSide .hideScroll .groups li.group a:hover{background-color:#16232d;color:#fff;}
.sideMenu.deviceSide .hideScroll .groups li.group a.active{background-color:#16232d;color:#fff;}
.sideMenu.deviceSide .hideScroll .groups li.group a .groupIcon{float:left;margin-top:3px;margin-right:5px;}
.sideMenu.deviceSide .hideScroll .groups li.group a span.deviceGroupText{float:left;display:block;overflow:hidden;width:110px;white-space:nowrap;text-overflow: ellipsis;}
.sideMenu.deviceSide .hideScroll .groups li.group a span.deviceGroupText:hover{white-space:normal;word-break:break-word;}
.sideMenu.deviceSide .hideScroll .groups li.group a.active span.deviceGroupText{white-space:normal;word-break:break-word;}
.sideMenu.deviceSide .hideScroll .groups li.group a .newGroup{float:left;margin-top:2px;margin-left:3px;background-color:#23b7e5;color:#dcf2f8;}

.deviceListWrap{margin:20px 20px 20px 20px;}

.deviceListWrap .viewMode{float:right;width:150px;margin:10px 15px 0 0;}
.deviceListWrap .viewMode .viewModeRange{display:block;float:left;width:100px;}
.deviceListWrap .viewMode .viewModeSwitch{float:right;}

.deviceListWrap .deviceListMenu{padding:15px;border-bottom:1px solid #edf1f2;}
.deviceListWrap .deviceListMenu .tableMenuLine .tableInfoSection{float:left;}
.deviceListWrap .deviceListMenu .tableMenuLine .tableInfoSection .totalBox{float:left;height:26px;line-height:26px;}
.deviceListWrap .deviceListMenu .tableMenuLine .tableInfoSection .totalBox .totalLabel{font-size:14px;margin-right:5px;}
.deviceListWrap .deviceListMenu .tableMenuLine .tableInfoSection .totalBox .totalValue{font-size:14px;margin-right:5px;}
.deviceListWrap .deviceListMenu .tableMenuLine .tableInfoSection .totalBox .totalUnit{font-size:14px;margin-right:5px;}
.deviceListWrap .deviceListMenu .tableMenuLine .tableInfoSection .lineBox{float:left;width:100px;height:26px;line-height:26px;padding-left:5px;border-left:1px solid #dee5e7;}
.deviceListWrap .deviceListMenu .tableMenuLine .tableInfoSection .lineBox .lineLabel{float:left;font-size:14px;margin-right:5px;}
.deviceListWrap .deviceListMenu .tableMenuLine .tableInfoSection .lineBox .selectLine{float:left;width:50px;height:26px;line-height:26px;}
.deviceListWrap .deviceListMenu .tableMenuLine .filterSection{float:right;}
.deviceListWrap .deviceListMenu .tableMenuLine .filterSection .selectFilter{float:left;width:100px;height:26px;line-height:26px;margin-right:5px;}
.deviceListWrap .deviceListMenu .tableMenuLine .filterSection .deviceTableFilter{float:left;width:150px;height:26px;line-height:26px;}


.deviceListWrap .deviceGridContent{padding:15px;}
.deviceListWrap .deviceGridContent .deviceGrid{display:inline-block;border:1px solid #e4eaec;margin:0 10px 15px 0;padding:2px;background-color:#e4eaec;}
.deviceListWrap .deviceGridContent .deviceGrid:hover{cursor:pointer;border-color:#23b7e5;}
.deviceListWrap .deviceGridContent .deviceGrid.deviceGridEmpty{display:block;padding:0px;background-color:#fff;text-align:center;font-size:14px;color:#ccc;}
.deviceListWrap .deviceGridContent .deviceGrid .deviceImgWrap{display:block;-webkit-transition:0.1s;-moz-transition:0.1s;-o-transition:0.1s;transition:0.1s;}
.deviceListWrap .deviceGridContent .deviceGrid .deviceImgWrap img{display:block;margin:0 auto;-webkit-transition:0.1s;-moz-transition:0.1s;-o-transition:0.1s;transition:0.1s;}
.deviceListWrap .deviceGridContent .deviceGrid .deviceAlias{display:block;width:100%;color:#58666e;font-size:14px;text-align:center;}
.deviceListWrap .deviceGridContent .deviceGrid .deviceAlias.empty{color:#bbb}
.deviceListWrap .deviceGridContent .deviceGrid:hover .deviceAlias.empty{color:#23b7e5}

.deviceListWrap  .deviceListContent .deviceTable tr th.no div{text-align:right;}
.deviceListWrap  .deviceListContent .deviceTable tr td.no div{text-align:right;}
.deviceListWrap  .deviceListContent .deviceTable tr th.group div{text-align:left;}
.deviceListWrap  .deviceListContent .deviceTable tr td.group div{text-align:left;}
.deviceListWrap  .deviceListContent .deviceTable tr td.group div.item-wrapper form{top:-60px;left:20px;}
.deviceListWrap  .deviceListContent .deviceTable tr th.type div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr td.type div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr th.os div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr td.os div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr th.act1 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr td.act1 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr th.act2 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr td.act2 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr th.act3 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr td.act3 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr th.act4 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr td.act4 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr th.act5 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr td.act5 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr th.act6 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr td.act6 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr th.act7 div{text-align:center;}
.deviceListWrap  .deviceListContent .deviceTable tr td.act7 div{text-align:center;}

