/* modal.addDeviceGroup */
.smModalWrap.addDeviceGroup{width:550px;}

.addDeviceGroup .smModalBody .section .inputLine .form_label{float:left;width:80px;}
.addDeviceGroup .smModalBody .section .inputLine .form_label label{float:right;padding:6px 0 3px;}
.addDeviceGroup .smModalBody .section .inputLine .form_input{float:right;width:420px;}
.addDeviceGroup .smModalBody .section .inputLine .form_input input{padding:6px 12px;}
