/* modal.addDevice */
.smModalWrap.addDevice{width:550px;}

.smModalWrap.addDevice .smModalBody .section .agentSection{float:left;width:49%;border-left:2px solid #dee5e7;}
.smModalWrap.addDevice .smModalBody .section .agentSection .agentIconWrap{float:left;width:80px;line-height:80px;height:80px;margin:0 20px 0 20px;text-align:center;}
.smModalWrap.addDevice .smModalBody .section .agentSection .agentIconWrap .agentIcon{font-size:80px;}
.smModalWrap.addDevice .smModalBody .section .agentSection .agentDetailWrap{float:left;width:110px;}
.smModalWrap.addDevice .smModalBody .section .agentSection .agentDetailWrap .title{font-weight:700;}
.smModalWrap.addDevice .smModalBody .section .agentSection .agentDetailWrap .infoLine{}
.smModalWrap.addDevice .smModalBody .section .agentSection .agentDetailWrap .infoLine .info_label{float:left;width:60px;}
.smModalWrap.addDevice .smModalBody .section .agentSection .agentDetailWrap .infoLine .info_value{float:left;}
.smModalWrap.addDevice .smModalBody .section .agentSection .agentDetailWrap .downloadBtn{width:110px;}