/* modal.deviceGroupSetting */
.smModalWrap.deviceMemo{width:550px;}

.deviceMemo .smModalBody .section .inputLine.edit_memo_line .editable-controls textarea{width:430px;}
.deviceMemo .smModalBody .section .inputLine.edit_memo_line .memo_area{padding:10px;}