/* modal.deviceProperty */
.smModalWrap.deviceProperty{width:550px;}

.deviceProperty .smModalBody .section .inputLine .name{float:left;width:80px;}
.deviceProperty .smModalBody .section .inputLine .name label{float:right;padding:6px 0 3px;}
.deviceProperty .smModalBody .section .inputLine .valueWrap{float:right;width:420px;}
.deviceProperty .smModalBody .section .inputLine .valueWrap .value{padding:6px 12px;}
.deviceProperty .smModalBody .section .inputLine input.input_default{}