/* modal.confirm_addUser */
.smModalWrap.confirm_addUser{width:550px;}
.smModalWrap.confirm_addUser .smModalHeader .title{}

.confirm_addUser .smModalBody .section .inputLine .form_label{float:left;width:100px;}
.confirm_addUser .smModalBody .section .inputLine .form_label label{float:right;padding:6px 0 3px;font-weight:bold;}
.confirm_addUser .smModalBody .section .inputLine .form_input{float:right;width:400px;padding:6px 0 3px;color:#23b7e5;}