/* modal.loginNotify */
.smModalWrap.login_notify{width:300px;}
.smModalWrap.login_notify .smModalHeader .title{color:#23b7e5;}

.smModalWrap.login_notify .smModalBody .notify_msg{font-size:14px;}
.smModalWrap.login_notify .smModalFooter .resendMailBtn{float:left;}
