<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="45">
    <!-- side -->
    <div class="side" ng-include="reportSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content reportAlertHistoryWrap" ng-controller="AlertHistoryCtrl">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.reports.title"></span>
                <span class="subTitle" translate="content.reports.subTitle"></span>
            </p>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" tooltip="Refresh" ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- alertHistoryWrap -->
        <div class="smTablePanelWrap alertHistoryWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    History
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <!-- historyMenu -->
                <div class="historyMenu">
                    <p class="clearfix"></p>
                    <div class="tableInfoSection">
                        <div class="totalBox">
                            <span class="totalLabel">Total :</span><span class="totalValue brand-info ver_info">{{alertHistoryTable.total()}}</span><span class="totalUnit">item(s)</span>
                        </div>
                        <div class="lineBox">
                            <span class="lineLabel">Lines :</span>
                            <select class="input_default selectLine" ng-options="limit.value for limit in alertHistoryTableLimits" ng-model="alertHistoryTableLimit" ng-change="alertHistoryTable.count(alertHistoryTableLimit.value)">
                            </select>
                        </div>
                    </div>
                    <p class="clearfix"></p>
                </div>
                <!-- //historyMenu -->
                <!-- historyContent -->
                <div class="historyContent">
                    <table ng-table="alertHistoryTable" class="smTable">
                        <thead>
                            <tr>
                                <th ng-repeat="header in alertHistoryTableHeader" class="{{header.className}}">
                                    <div>
                                        <span>
                                            {{header.name}}
                                        </span>
                                        <span ng-if="header.name.indexOf('Date') != -1">
                                            ({{showTimeZoneStatus(user.time_zone_id)}})
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr ng-repeat="item in $data" ng-if="!if_showAlertHistoryData(item.pk)" class="brand-info-line">
                                <td colspan="{{alertHistoryTableCol}}">
                                    <div>
                                        <span class="brand-info">{{config_str.EMPTY}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in $data" ng-if="if_showAlertHistoryData(item.pk)" ng-class="{'brand-gray-line': $odd}">
                                <td class="no">
                                    <div>
                                        <span>
                                            {{(alertHistoryTable.page() - 1) * alertHistoryTable.count() + $index + 1}}
                                        </span>
                                    </div>
                                </td>
                                <td class="status">
                                    <div>
                                        <span>
                                        </span>
                                    </div>
                                </td>
                                <td class="category">
                                    <div>
                                        <span>
                                        </span>
                                    </div>
                                </td>
                                <td class="description">
                                    <div>
                                        <span>
                                        </span>
                                    </div>
                                </td>
                                <td class="device">
                                    <div>
                                        <span>
                                        </span>
                                    </div>
                                </td>
                                <td class="start_time">
                                    <div>
                                        <span>
                                            {{item.start_time | DateTime: showDateFormatStatus(user.date_fmt_id)+"T"+showTimeFormatStatus() : showTimeZoneData(user.time_zone_id)}}
                                        </span>
                                    </div>
                                </td>
                                <td class="end_time">
                                    <div>
                                        <span>
                                            {{item.end_time | DateTime: showDateFormatStatus(user.date_fmt_id)+"T"+showTimeFormatStatus() : showTimeZoneData(user.time_zone_id)}}
                                        </span>
                                    </div>
                                </td>
                                <td class="interval">
                                    <div>
                                        <span>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //historyContent -->
            </div>
        </div>
        <!-- //alertHistoryWrap -->
    </div>
    <!-- //content -->
    <p class="clearfix"></p>
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->