<!-- container -->
<div class="lmmContainer noHeader" ng-style="autoStyleMinHeight()" resize header="0" footer="0" obstacle="1">
    <!-- authWrap -->
    <div class="content authWrap">
        <!-- authContent -->
        <div class="authContent">
            <!-- boxes -->
            <div class="boxes">
                <!-- titleBox -->
                <div class="titleBox">
                    <span class="title" translate="subContent.auth.title"></span>
                    <span class="subTitle" translate="subContent.auth.subTitle"></span>
                </div>
                <!-- //titleBox -->
                <!-- mentBox -->
                <div class="smPanelWrap mentBox">
                    <p class="icon" ng-if="!flag_auth"><i class="fa fa-spin fa-circle-o-notch"></i></p>
                    <p class="icon" ng-if="flag_auth"><i class="fa fa-check-square brand-success"></i></p>
                    <p class="ment">{{auth_ment}}</p>
                </div>
                <!-- //mentBox -->
                <!-- authMenu -->
                <div class="authMenu" ng-if="flag_auth">
                    <p class="clearfix"></p>
                    <p class="moveToSignIn">
                        <a href="" ng-click="movePage('/access/login')">Sign In?</a>
                    </p>
                </div>
                <!-- //authMenu -->
                <!-- authFooter -->
                <div class="authFooter">
                    <span class="copy"><span class="blind">&copy;</span><i class="fa fa-copyright"></i> 2015 Koino. All rights reserved.</span>
                </div>
                <!-- //authFooter -->
            </div>
            <!-- //boxes -->
        </div>
        <!-- //authContent -->
        <p class="clearfix"></p>
    </div>
    <!-- //authWrap -->
</div>
<!-- //container -->