<!-- container -->
<div class="lmmContainer noHeader" ng-style="autoStyleMinHeight()" resize header="0" footer="0" obstacle="1">
    <!-- forgotWrap -->
    <div class="content forgotWrap">
        <!-- forgotContent -->
        <div class="forgotContent">
            <!-- boxes -->
            <div class="boxes">
                <!-- titleBox -->
                <div class="titleBox">
                    <span class="title" translate="subContent.forgot.title"></span>
                    <span class="subTitle" translate="subContent.forgot.subTitle"></span>
                </div>
                <!-- //titleBox -->
                <!-- forgotForm -->
                <div class="forgotForm">
                    <form novalidate>
                        <div class="list-group inputs">
                            <div class="list-group-item">
                                <i class="fa fa-envelope"></i> <input type="email" class="input_email" placeholder="Email" ng-model="user.mail"/>
                            </div>
                        </div>
                        <div class="btns">
                            <button type="submit" ng-disabled="!user.mail" ng-click="resetPW(user)" class="btn btn-primary forgotBtn">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
                <!-- //forgotForm -->
                <!-- forgotMenu -->
                <div class="forgotMenu">
                    <p class="clearfix"></p>
                    <p class="moveToSignIn"><a href="" ng-click="movePage('/access/login')">Sign In?</a></p>
                </div>
                <!-- //forgotMenu -->
                <p class="clearfix"></p>
                <!-- forgotFooter -->
                <div class="forgotFooter">
                    <span class="copy"><span class="blind">&copy;</span><i class="fa fa-copyright"></i> 2015 Koino. All rights reserved.</span>
                </div>
                <!-- //forgotFooter -->
            </div>
            <!-- //boxes -->
        </div>
        <!-- //forgotContent -->
        <p class="clearfix"></p>
    </div>
    <!-- //forgotWrap -->
</div>
<!-- //container -->