<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer noHeader" ng-style="autoStyleMinHeight()" resize header="0" footer="0" obstacle="1">
    <!-- loginWrap -->
    <div class="content loginWrap">
        <!-- loginContent -->
        <div class="loginContent">
            <!-- boxes -->
            <div class="boxes">
                <!-- titleBox -->
                <div class="titleBox">
                    <span class="title" translate="subContent.login.title"></span>
                    <span class="subTitle" translate="subContent.login.subTitle"></span>
                </div>
                <!-- //titleBox -->
                <!-- loginForm -->
                <div class="loginForm">
                    <form novalidate>
                        <!-- inputs -->
                        <div class="list-group inputs">
                            <div class="list-group-item">
                                <i class="fa fa-envelope"></i> <input type="email" class="input_email" placeholder="Email" ng-model="user.mail" />
                            </div>
                            <div class="list-group-item">
                                <i class="fa fa-lock"></i> <input type="password" placeholder="Password" ng-model="user.pw" />
                            </div>
                        </div>
                        <!-- //inputs -->
                        <!-- btns -->
                        <div class="btns">
                            <button type="submit" ng-disabled="loginValidate(user)" ng-click="login(user)" class="btn btn-primary loginBtn">
                                Log in
                            </button>
                        </div>
                        <!-- //btns -->
                    </form>
                </div>
                <!-- //loginForm -->
                <!-- loginMenu -->
                <div class="loginMenu">
                    <p class="rememberMe">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="user.remember"/><i></i> Remember me?
                        </label>
                    </p>
                    <!-- //rememberMe -->
                    <p class="clearfix"></p>
                    <p class="createAccount"><a href="" ng-click="movePage('/access/register')">Do not have an account?</a></p>
                    <!-- //createAccount -->
                    <p class="forgotPW"><a href="" ng-click="movePage('/access/forgot')">Forgot password?</a></p>
                    <!-- //forgotPW -->
                </div>
                <!-- //loginMenu -->
                <p class="clearfix"></p>
                <!-- loginFooter -->
                <div class="loginFooter">
                    <span class="copy"><span class="blind">&copy;</span><i class="fa fa-copyright"></i> 2015 Koino. All rights reserved.</span>
                </div>
                <!-- //loginFooter -->
            </div>
            <!-- //boxes -->
        </div>
        <!-- //loginContent -->
        <!-- loginSide -->
        <div class="smPanelWrap loginSide">
            <!-- prodBox -->
            <div class="prodBox">제품 설명 영역</div>
            <!-- //prodBox -->
        </div>
        <!-- //loginSide -->
        <p class="clearfix"></p>
    </div>
    <!-- //loginWrap -->
</div>
<!-- //container -->
