<!-- container -->
<div class="lmmContainer noHeader" ng-style="autoStyleMinHeight()" resize header="0" footer="0" obstacle="1">
    <!-- otpWrap -->
    <div class="content otpWrap">
        <!-- otpContent -->
        <div class="otpContent">
            <!-- boxes -->
            <div class="boxes">
                <!-- titleBox -->
                <div class="titleBox">
                    <span class="title" translate="subContent.login.title"></span>
                    <span class="subTitle" translate="subContent.login.subTitle"></span>
                </div>
                <!-- //titleBox -->
                <!-- qrcodeBox -->
                <div class="qrcodeBox" ng-if="!user.flag_create_qrcode">
                    <img ng-if="getQRCodeImgName(user.mail) != 'undefined'" class="qrcodeImg" ng-src="{{qrcodeImgUri}}{{getQRCodeImgName(user.mail)}}.png" alt="QRCode Img"
                         onError="var blankSrc = './images/live/live_no_img.jpg'; this.src = blankSrc;" />
                </div>
                <!-- //qrcodeBox -->
                <!-- otpForm -->
                <div class="otpForm">
                    <form novalidate>
                        <!-- inputs -->
                        <div class="list-group inputs">
                            <div class="list-group-item">
                                <i class="fa fa-qrcode"></i> <input type="text" placeholder="6 Digit Code" ng-model="user.code"/>
                            </div>
                        </div>
                        <!-- //inputs -->
                        <!-- btns -->
                        <div class="btns">
                            <button type="submit" ng-disabled="!user.code" ng-click="login_otp(user)" class="btn btn-primary otpBtn">
                                Log in
                            </button>
                        </div>
                        <!-- //btns -->
                    </form>
                </div>
                <!-- //otpForm -->
                <!-- otpMenu -->
                <div class="otpMenu">
                    <p class="clearfix"></p>
                    <p class="moveToSignIn"><a href="" ng-click="movePage('/access/login')">Retry Sign In?</a></p>
                </div>
                <!-- //otpMenu -->
                <p class="clearfix"></p>
                <!-- otpFooter -->
                <div class="otpFooter">
                    <span class="copy"><span class="blind">&copy;</span><i class="fa fa-copyright"></i> 2015 Koino. All rights reserved.</span>
                </div>
                <!-- //otpFooter -->
            </div>
            <!-- //boxes -->
        </div>
        <!-- //otpContent -->
        <p class="clearfix"></p>
    </div>
    <!-- //otpWrap -->
</div>
<!-- //container -->