<!-- container -->
<div class="lmmContainer noHeader" ng-style="autoStyleMinHeight()" resize header="0" footer="0" obstacle="1">
    <!-- registerWrap -->
    <div class="content registerWrap">
        <!-- registerContent -->
        <div class="registerContent">
            <!-- boxes -->
            <div class="boxes">
                <!-- titleBox -->
                <div class="titleBox">
                    <span class="title" translate="subContent.register.title"></span>
                    <span class="subTitle" translate="subContent.register.subTitle"></span>
                </div>
                <!-- //titleBox -->
                <!-- registerForm -->
                <div class="registerForm">
                    <form novalidate>
                        <!-- inputs -->
                        <div class="list-group inputs">
                            <div class="list-group-item"
                                 ng-class="{'list-group-item-success': register.mail.status==3, 'list-group-item-danger': register.mail.status==2, 'list-group-item-warning': register.mail.status==1}">
                                <i class="fa" ng-class="{'fa-envelope': register.mail.status==0,'fa-check': register.mail.status==3, 'fa-ban': register.mail.status==2, 'fa-warning': register.mail.status==1}"></i>
                                <input type="email" class="input_email" placeholder="Email" tooltip="{{register.mail.notice}}"  tooltip-trigger="focus" ng-model="register.mail.value" ng-change="checkInputManager()" />
                            </div>
                            <div class="list-group-item"
                                 ng-class="{'list-group-item-success': register.pw.status==3, 'list-group-item-danger': register.pw.status==2, 'list-group-item-warning': register.pw.status==1}">
                                <i class="fa" ng-class="{'fa-lock': register.pw.status==0,'fa-check': register.pw.status==3, 'fa-ban': register.pw.status==2, 'fa-warning': register.pw.status==1}"></i>
                                <input type="password" placeholder="Password" tooltip="{{register.pw.notice}}"  tooltip-trigger="focus" ng-model="register.pw.value" ng-change="checkInputManager()" />
                            </div>
                            <div class="list-group-item"
                                 ng-class="{'list-group-item-success': register.retype_pw.status==3, 'list-group-item-danger': register.retype_pw.status==2, 'list-group-item-warning': register.retype_pw.status==1}">
                                <i class="fa" ng-class="{'fa-lock': register.retype_pw.status==0,'fa-check': register.retype_pw.status==3, 'fa-ban': register.retype_pw.status==2, 'fa-warning': register.retype_pw.status==1}"></i>
                                <input type="password" placeholder="Retype Password" tooltip="{{register.retype_pw.notice}}"  tooltip-trigger="focus" ng-model="register.retype_pw.value" ng-change="checkInputManager()" />
                            </div>
                        </div>
                        <!-- //inputs -->
                        <!-- argreeInput -->
                        <p class="argreeInput">
                            <label class="i-checks" ng-class="{'brand-success': register.agree.status==3, 'brand-danger': register.agree.status==2, 'brand-warning': register.agree.status==1}">
                                <input type="checkbox" ng-model="register.agree.value" ng-change="checkInputManager()" /><i></i> Agree the terms and policy
                            </label>
                        </p>
                        <!-- //argreeInput -->
                        <!-- btns -->
                        <div class="btns">
                            <button type="submit" ng-disabled="signUpManagerDisabled()" ng-click="signUpManager()" class="btn btn-primary registerBtn">
                                Sign up
                            </button>
                        </div>
                        <!-- //btns -->
                    </form>
                </div>
                <!-- //registerForm -->
                <!-- registerMenu -->
                <div class="registerMenu">
                    <p class="clearfix"></p>
                    <p class="moveToSignIn">
                        <a href="" ng-click="movePage('/access/login')">Already have an account?</a>
                    </p>
                </div>
                <!-- //registerMenu -->
                <p class="clearfix"></p>
                <!-- registerFooter -->
                <div class="registerFooter">
                    <span class="copy"><span class="blind">&copy;</span><i class="fa fa-copyright"></i> 2015 Koino. All rights reserved.</span>
                </div>
                <!-- //registerFooter -->
            </div>
            <!-- //boxes -->
        </div>
        <!-- //registerContent -->
        <p class="clearfix"></p>
    </div>
    <!-- //registerWrap -->
</div>
<!-- //container -->