<div class="footLogo">
    <span translate="footer.logo" translate-values="appInfo"></span>
</div>
<p class="copy">
    <span class="blind">&copy;</span> <i class="fa fa-copyright"></i> 2015 Koino. All rights reserved.
</p>
<p class="familySite">
    <select class="input_default familySelector {{familySite.text}}" id="familySite" ng-options="familySite.text for familySite in familySites" ng-model="familySite"
            ng-change="routeFamilySite(familySite.src)">
    </select>
    <label class="familyLabel {{familySite.text}}" for="familySite" ng-if="familySite.src != 'none'">
        {{familySite.text}}
    </label>
</p>