<div class="logo">
    <a href="" ng-click="movePage('/')" ng-if="logo_img_uri == config_str.EMPTY">
        <i class="fa fa-external-link-square logoLabel"></i> <span translate="header.logo"></span>
    </a>
    <a href="" ng-click="movePage('/')" ng-if="logo_img_uri != config_str.EMPTY">
        <img ng-src="{{logo_img_uri}}" />
    </a>
</div>
<ul class="gnb" ng-show="!isAuthenticated">
    <li>
        <a href="" ng-click="movePage('/intro/howItWorks')" ng-class="{'active':onActiveMenu('/intro/howItWorks')}">
            <i class="fa fa-archive"></i> <span class="" translate="header.gnb.howItWorks"></span>
        </a>
    </li>
    <li>
        <a href="" ng-click="movePage('/intro/features')" ng-class="{'active':onActiveMenu('/intro/features')}">
            <i class="fa fa-file-text"></i> <span translate="header.gnb.features"></span>
        </a>
    </li>
    <li>
        <a href="" ng-click="movePage('/intro/price')" ng-class="{'active':onActiveMenu('/intro/price')}">
            <i class="fa fa-money"></i> <span translate="header.gnb.price"></span>
        </a>
    </li>
    <li>
        <a href="" ng-click="movePage('/intro/resources')" ng-class="{'active':onActiveMenu('/intro/resources')}">
            <i class="fa fa-file-pdf-o"></i> <span translate="header.gnb.resources"></span>
        </a>
    </li>
</ul>
<ul class="gnb" ng-show="isAuthenticated">
    <li>
        <a href="" ng-click="movePage('/main/devices/all')" ng-class="{'active':onActiveMenu('/main/devices')}">
            <i class="fa fa-server"></i> <span class="" translate="header.gnb.devices"></span>
        </a>
    </li>
    <li ng-if="showLiveStatusFlag">
        <a href="" ng-click="movePage('/main/live' + '/'+ deviceVer +'/'+ devicePK)" ng-class="{'active':onActiveMenu('/main/live')}">
            <i class="fa fa-desktop"></i> <span class="" translate="header.gnb.live"></span>
        </a>
    </li>
    <li>
        <a href="" ng-click="movePage('/main/reports/remote/dash/summary')" ng-class="{'active':onActiveMenu('/main/reports')}">
            <i class="fa fa-pie-chart"></i> <span class="" translate="header.gnb.reports"></span>
        </a>
    </li>
    <li>
        <a href="" ng-click="movePage('/main/admin/profile')" ng-class="{'active':onActiveMenu('/main/admin')}">
            <i class="fa fa-gears"></i> <span class="" translate="header.gnb.admin"></span>
        </a>
    </li>
    <li>
        <a href="" ng-click="movePage('/main/help/resource')" ng-class="{'active':onActiveMenu('/main/help')}">
            <i class="fa fa-meh-o"></i> <span class="" translate="header.gnb.help"></span>
        </a>
    </li>
</ul>
<dl class="topMenu">
    <dt class="blind">TOP Menu</dt>
    <dd class="trans dropdown" dropdown>
        <a href="" class="transLabel dropdown-toggle" dropdown-toggle>
            <i class="fa fa-globe"></i> <span class="setLang">{{selectLang}}</span>
        </a>
        <ul class="transMenu dropdown-menu animated fadeInRight">
            <li>
                <a href="" ng-click="setLang('en_US')">
                    <span translate="header.transMenu.english"></span>
                </a>
            </li>
            <li>
                <a href="" ng-click="setLang('ko')">
                    <span translate="header.transMenu.korean"></span>
                </a>
            </li>
            <li>
                <a href="" ng-click="setLang('ja_JP')">
                    <span translate="header.transMenu.japanese"></span>
                </a>
            </li>
        </ul>
    </dd>
    <dd class="userInfo dropdown" dropdown>
        <a href="" class="userLabel dropdown-toggle" dropdown-toggle>
            {{userType}} <i class="fa fa-caret-down"></i> <i class="fa" ng-class="{'fa-user-secret': userType=='Guest', 'fa-user': userType!='Guest'}"></i>
        </a>
        <ul class="userMenu dropdown-menu animated fadeInRight">
            <li class="wrapper">
                <div>
                    <p>License 3 days left</p>
                </div>
            </li>
            <li>
                <a href=""><span>Profile</span></a>
            </li>
            <li>
                <a href=""><span>Help</span></a>
            </li>
            <li class="divider"></li>
            <li ng-show="!isAuthenticated">
                <a href="" ng-click="movePage('/access/login')">
                    <span translate="header.topMenu.signIn"></span>
                </a>
            </li>
            <li ng-show="isAuthenticated">
                <a href="" ng-click="movePage('/access/logout')">
                    <span translate="header.topMenu.signOut"></span>
                </a>
            </li>
        </ul>
    </dd>
</dl>


