<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="45">
    <!-- side -->
    <div class="side" ng-include="liveSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content liveWrap" ng-init="liveStatusCookieSync()">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.live.title"></span>
                <span class="subTitle" translate="content.live.subTitle"></span>
            </p>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default">
                        Alerts
                    </a>
                    <a href="" class="btn btn-default btn-xs ver_default">
                        Remote Control
                    </a>
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2', 'all')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- usageStatusWrap -->
        <div class="smTablePanelWrap usageStatusWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    Resource Usage &amp; Status
                </span>
                <span class="tablePanelToggle">
                    <a href="" class="btn btn-default ver_default btn-xs" ng-click="onClickPanelToggle('wc_resource')">
                        <i class="fa" ng-class="{'fa-chevron-down': liveStatusPage.window_opened.resource,'fa-chevron-right': !liveStatusPage.window_opened.resource}"></i>
                    </a>
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody" ng-if="liveStatusPage.window_opened.resource">
                <!-- usageStatusContent -->
                <div class="usageStatusContent">
                    <!-- statusImgWrap -->
                    <div class="statusImgWrap">
                        <img class="liveImg" ng-src="{{deviceImg_uri}}{{device.guid}}.jpg"
                             ng-click="openLiveDeviceModal(item, deviceImg_uri)"
                             alt="LiveStatus Image" onError="var blankSrc = './images/live/live_no_img.jpg'; this.src = blankSrc;" />
                    </div>
                    <!-- //statusImgWrap -->
                    <!-- usageStatusInfo -->
                    <div class="usageStatusInfo">
                        <div class="infoWrap" ng-repeat="item in os_x.usageStatus" ng-class="{'left': $even, 'right': $odd}">
                            <div ng-if="item.type=='text_readOnly'">
                                <div class="name">
                                    &middot; <span>{{item.name}}</span>
                                </div>
                                <div class="value">
                                    <span ng-if="if_showDeviceRealData(device[item.field])">
                                        {{device[item.field]}}
                                    </span>
                                    <span class="brand-NA" ng-if="!if_showDeviceRealData(device[item.field])">
                                        {{item.empty}}
                                    </span>
                                    <span ng-if="if_showDeviceRealData(device[item.field]) && item.unit != null">
                                        {{item.unit}}
                                    </span>
                                </div>
                            </div>
                            <div ng-if="item.type=='text_readOnly_Temp'">
                                <div class="name">
                                    &middot; <span>{{item.name}}</span>
                                </div>
                                <div class="value">
                                    <span ng-if="if_showDeviceRealData(device[item.field])">
                                        {{device[item.field] | number:0}}
                                    </span>
                                    <span class="brand-NA" ng-if="!if_showDeviceRealData(device[item.field])">
                                        {{item.empty}}
                                    </span>
                                    <span ng-if="if_showDeviceRealData(device[item.field]) && item.unit != null">
                                        {{item.unit}}
                                    </span>
                                    <span ng-if="if_showDeviceRealSecondData(if_showDeviceRealData(device[item.field]), tempConverter('F', device[item.field]))">
                                        {{item.split_str}}
                                    </span>
                                    <span ng-if="if_showDeviceRealSecondData(if_showDeviceRealData(device[item.field]), tempConverter('F', device[item.field]))">
                                        {{tempConverter("F", device[item.field]) | number:0}}
                                    </span>
                                    <span class="brand-NA" ng-if="if_showDeviceRealData(device[item.field]) && !if_showDeviceRealSecondData(if_showDeviceRealData(device[item.field]), tempConverter('F', device[item.field]))">
                                        {{item.empty}}
                                    </span>
                                    <span ng-if="if_showDeviceRealSecondData(if_showDeviceRealData(device[item.field]), tempConverter('F', device[item.field])) && item.secUnit != null">
                                        {{item.secUnit}}
                                    </span>
                                </div>
                            </div>
                            <div ng-if="item.type=='date_readOnly'">
                                <div class="name">
                                    &middot; <span>{{item.name}}</span>
                                </div>
                                <div class="value">
                                    <span ng-if="if_showDeviceRealData(device[item.field])">
                                        {{device[item.field]}}
                                    </span>
                                    <span class="brand-NA" ng-if="!if_showDeviceRealData(device[item.field])">
                                        {{item.empty}}
                                    </span>
                                    <span ng-if="if_showDeviceRealData(device[item.field]) && item.unit != null">
                                        {{item.unit}}
                                    </span>
                                </div>
                                <p class="clearfix"></p>
                            </div>
                        </div>
                    </div>
                    <!-- //usageStatusInfo -->
                    <p class="clearfix"></p>
                </div>
                <!-- //usageStatusContent -->
            </div>
        </div>
        <!-- //usageStatusWrap -->
        <!-- sysInfoWrap -->
        <div class="smTablePanelWrap sysInfoWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    System Information
                </span>
                <span class="tablePanelToggle">
                    <a href="" class="btn btn-default ver_default btn-xs"  ng-click="onClickPanelToggle('wc_sysInfo')">
                        <i class="fa" ng-class="{'fa-chevron-down': liveStatusPage.window_opened.sysInfo,'fa-chevron-right': !liveStatusPage.window_opened.sysInfo}"></i>
                    </a>
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody" ng-if="liveStatusPage.window_opened.sysInfo">
                <!-- sysInfoContent -->
                <div class="sysInfoContent">
                    <!-- sysInfo -->
                    <div class="sysInfo">
                        <div class="infoWrap" ng-repeat="item in os_x.sysInfo" ng-class="{'left': $even, 'right': $odd}">
                            <div ng-if="item.type=='text_readOnly'">
                                <div class="name">
                                    &middot; <span>{{item.name}}</span>
                                </div>
                                <div class="value">
                                    <span ng-if="if_showDeviceRealData(device[item.field])">
                                        {{device[item.field]}}
                                    </span>
                                    <span class="brand-NA" ng-if="!if_showDeviceRealData(device[item.field])">
                                        {{item.empty}}
                                    </span>
                                    <span ng-if="if_showDeviceRealData(device[item.field]) && item.unit != null">
                                        {{item.unit}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p class="clearfix"></p>
                    </div>
                    <!-- //sysInfo -->
                </div>
                <!-- //sysInfoContent -->
            </div>
        </div>
        <!-- //sysInfoWrap -->

        <div class="panelPnSLine">
            <p class="clearfix"></p>
            <!-- processWrap -->
            <div class="smTablePanelWrap processWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Process List
                    </span>
                    <span class="tablePanelToggle">
                        <a href="" class="btn btn-default ver_default btn-xs"  ng-click="onClickPanelToggle('wc_process')">
                            <i class="fa" ng-class="{'fa-chevron-down': liveStatusPage.window_opened.process,'fa-chevron-right': !liveStatusPage.window_opened.process}"></i>
                        </a>
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody" ng-if="liveStatusPage.window_opened.process">
                    <table class="smTable processTable">
                        <thead>
                            <tr>
                                <th ng-repeat="header in os_x.processTableHeader" class="{{header.className}}">
                                    <div>
                                        <span>
                                            {{header.name}}
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr ng-repeat="item in os_x.processTable" ng-if="!if_showProcessData(item.pk)" class="brand-info-line">
                                <td colspan="{{os_x.processTableCol}}">
                                    <div>
                                        <span class="brand-info">{{config_str.EMPTY}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in os_x.processTable | orderBy: 'cpu_usage' : true" ng-if="if_showProcessData(item.pk)" ng-class="{'brand-gray-line': $odd}">
                                <td class="no">
                                    <div>
                                        <span>
                                            {{$index + 1}}
                                        </span>
                                    </div>
                                </td>
                                <td class="name">
                                    <div>
                                        <span>
                                            {{item.icon}} {{item.name}}
                                        </span>
                                    </div>
                                </td>
                                <td class="cpu">
                                    <div class="processUsage">
                                        <span ng-if="item.cpu_usage">
                                            {{item.cpu_usage}} {{item.cpu_usage_unit}}
                                        </span>
                                        <span class="brand-NA" ng-if="!item.cpu_usage">
                                            {{item.empty}}
                                        </span>
                                    </div>
                                    <div class="processProgress">
                                        <progressbar value="item.cpu_usage" class="progress-striped active" type="{{getProcessProgressType(item.cpu_usage)}}"></progressbar>
                                    </div>
                                </td>
                                <td class="memory">
                                    <div class="processUsage">
                                        <span ng-if="item.memory_usage">
                                            {{item.memory_usage}} {{item.memory_usage_unit}}
                                        </span>
                                        <span class="brand-NA" ng-if="!item.memory_usage">
                                            {{item.empty}}
                                        </span>
                                    </div>
                                    <div class="processProgress">
                                        <progressbar value="item.memory_usage" class="progress-striped active" type="{{getProcessProgressType(item.memory_usage)}}"></progressbar>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //processWrap -->
            <!-- softwareWrap -->
            <div class="smTablePanelWrap softwareWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Installed Software List
                    </span>
                    <span class="tablePanelToggle">
                        <a href="" class="btn btn-default ver_default btn-xs" ng-click="onClickPanelToggle('wc_software')">
                            <i class="fa" ng-class="{'fa-chevron-down': liveStatusPage.window_opened.software,'fa-chevron-right': !liveStatusPage.window_opened.software}"></i>
                        </a>
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody" ng-if="liveStatusPage.window_opened.software">
                    <table class="smTable softwareTable">
                        <thead>
                            <tr>
                                <th ng-repeat="header in os_x.softwareTableHeader" class="{{header.className}}">
                                    <div>
                                        <span>
                                            {{header.name}}
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr ng-repeat="item in os_x.softwareTable" ng-if="!if_showSoftwareData(item.pk)" class="brand-info-line">
                                <td colspan="{{os_x.softwareTableCol}}">
                                    <div>
                                        <span class="brand-info">{{config_str.EMPTY}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in os_x.softwareTable" ng-if="if_showSoftwareData(item.pk)" ng-class="{'brand-gray-line': $odd}">
                                <td class="name">
                                    <div>
                                        <span>
                                            {{item.icon}} {{item.name}}
                                        </span>
                                    </div>
                                </td>
                                <td class="corp">
                                    <div>
                                        <span>
                                            {{item.corp}}
                                        </span>
                                    </div>
                                </td>
                                <td class="date">
                                    <div>
                                        <span>
                                            {{item.install_date}}
                                        </span>
                                    </div>
                                </td>
                                <td class="physical">
                                    <div>
                                        <span ng-if="item.physical">
                                            {{item.physical}} {{item.physical_unit}}
                                        </span>
                                        <span class="brand-NA" ng-if="!item.physical">
                                            {{item.empty}}
                                        </span>
                                    </div>
                                </td>
                                <td class="version">
                                    <div>
                                        <span>
                                            {{item.version}}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //softwareWrap -->
            <p class="clearfix"></p>
        </div>
        <div class="panelHnALine">
            <p class="clearfix"></p>
            <!-- hardwareWrap -->
            <div class="smTablePanelWrap hardwareWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Hardware List
                    </span>
                    <span class="tablePanelToggle">
                        <a href="" class="btn btn-default ver_default btn-xs" ng-click="onClickPanelToggle('wc_hardware')">
                            <i class="fa" ng-class="{'fa-chevron-down': liveStatusPage.window_opened.hardware,'fa-chevron-right': !liveStatusPage.window_opened.hardware}"></i>
                        </a>
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody" ng-if="liveStatusPage.window_opened.hardware">
                    <!-- hardwareInfoContent -->
                    <div class="hardwareInfoContent">
                        <!-- hardwareInfo -->
                        <div class="hardwareInfo">
                            <div class="infoWrapEmpty brand-info-line" ng-repeat="item in os_x.hardwareInfo" ng-if="!if_showHardwareData(item.pk)">
                                <span class="brand-info">{{config_str.EMPTY}}</span>
                            </div>
                            <div class="infoWrap" ng-repeat="item in os_x.hardwareInfo" ng-if="if_showHardwareData(item.pk)">
                                <div ng-if="item.type=='text_readOnly'">
                                    <div class="name">
                                        &middot; <span>{{item.name}}</span>
                                    </div>
                                    <div class="value">
                                        <span ng-if="if_showDeviceRealData(item.value)">
                                            {{item.value}}
                                        </span>
                                        <span class="brand-NA" ng-if="!if_showDeviceRealData(item.value)">
                                            {{item.empty}}
                                        </span>
                                        <span ng-if="if_showDeviceRealData(item.value) && item.unit != null">
                                            {{item.unit}}
                                        </span>
                                    </div>
                                    <p class="clearfix"></p>
                                </div>
                            </div>
                            <p class="clearfix"></p>
                        </div>
                        <!-- //hardwareInfo -->
                    </div>
                    <!-- //hardwareInfoContent -->
                </div>
            </div>
            <!-- //hardwareWrap -->
            <!-- auditWrap -->
            <div class="smTablePanelWrap auditWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Audit Trail
                    </span>
                    <span class="tablePanelToggle">
                        <a href="" class="btn btn-default ver_default btn-xs" ng-click="onClickPanelToggle('wc_audit')">
                            <i class="fa" ng-class="{'fa-chevron-down': liveStatusPage.window_opened.audit,'fa-chevron-right': !liveStatusPage.window_opened.audit}"></i>
                        </a>
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody" ng-if="liveStatusPage.window_opened.audit">
                </div>
            </div>
            <!-- //auditWrap -->
            <p class="clearfix"></p>
        </div>
    </div>
    <!-- //content -->
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->