<!-- sideMenu -->
<div class="sideMenu liveSide" ng-style="autoStyleHeight()" resize header="49" footer="0" obstacle="0">
    <div class="hideScroll" ng-style="autoStyleHeight()" ng-class="{'onScroll': isScroll('groups')}" resize header="49" footer="0" obstacle="0">
        <!-- groups -->
        <ul class="groups">
            <!-- root -->
            <li class="root">
                <a href="" ng-click="onClickLiveRootGroup(liveRootGroupActive)" ng-class="{'active': liveRootGroupActive}">
                    <i class="fa corpIcon" ng-class="{'fa-building-o': if_showData(company[liveTreeRoot.empty_field]), 'fa-at': !if_showData(company[liveTreeRoot.empty_field])}"></i>
                    <span class="deviceGroupText">
                        {{company[liveTreeRoot.empty_field] || user[liveTreeRoot.field]}}
                    </span>
                    <i class="fa toggleBtn" ng-class="{'fa-angle-right': !liveRootGroupActive, 'fa-angle-down': liveRootGroupActive}"></i>
                </a>
                <!-- sub_groups -->
                <ul class="sub_groups" ng-if="liveRootGroupActive">
                    <li ng-repeat="item in groups | orderBy: 'flag_df_group' : true" class="group" ng-class="{'last': $last}">
                        <a href="" ng-click="onClickLiveGroup(item)" ng-class="{'active': item.active}">
                            <i class="fa fa-folder groupIcon" ng-class="{'fa-folder': !item.active, 'fa-folder-open': item.active}"></i>
                            <span class="deviceGroupText">
                                {{item.name}}
                            </span>
                            <i class="fa expanderIcon" ng-class="{'fa-plus-square-o': !item.active, 'fa-minus-square-o': item.active}"></i>
                        </a>
                        <!-- devices -->
                        <ul class="devices" ng-if="item.active">
                            <li class="device" ng-repeat="sub_item in devices" ng-if="!if_showDevice(sub_item.pk)" ng-class="{'last': $last}">
                                <a href="" class="empty">
                                    <i class="fa fa-ban emptyIcon"></i>
                                    <span class="deviceText">
                                        {{sub_item.pk}}
                                    </span>
                                </a>
                            </li>
                            <li class="device" ng-repeat="sub_item in devices" ng-if="if_showDevice(sub_item.pk)" ng-class="{'last': $last}">
                                <a href="" ng-click="onClickLiveDevice(sub_item)" ng-class="{'active': sub_item.active}">
                                    <i class="fa fa-desktop deviceIcon"></i>
                                    <span class="deviceText" ng-if="if_showData(sub_item.alias)">
                                        {{sub_item.alias}}
                                    </span>
                                    <span class="deviceText empty" ng-if="!if_showData(sub_item.alias)">
                                        {{config_str.EMPTY}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- //devices -->
                    </li>
                </ul>
                <!-- //sub_groups -->
            </li>
            <!-- //root -->
        </ul>
        <!-- //groups -->
    </div>
</div>
<!-- //sideMenu -->
<p class="clearfix"></p>
