<!-- sideMenu -->
<div class="sideMenu reportSide" ng-style="autoStyleHeight()" resize header="49" footer="0" obstacle="0">
    <div class="hideScroll" ng-style="autoStyleHeight()" ng-class="{'onScroll': isScroll('menu')}" resize header="49" footer="0" obstacle="0">
        <!-- menu -->
        <ul class="menu">
            <li ng-repeat="item in report_side_menu">
                <a href="">
                    <span class="menuText">
                        {{item.name}}
                    </span>
                </a>
                <!-- sub -->
                <ul class="sub_menu">
                    <li ng-repeat="sub_item in item.sub">
                        <a href="" ng-class="{'active': onActiveMenu(sub_item.active_tag)}" ng-click="onClickReportMenu(sub_item)">
                            <span>
                                {{sub_item.name}}
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- //sub -->
            </li>
        </ul>
        <!-- //menu -->
    </div>
</div>
<!-- //sideMenu -->
<p class="clearfix"></p>
