<!-- smModalWrap -->
<div class="smModalWrap addDeviceGroup">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            Add Device Group
        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        <div class="section">
            <p class="guideLine">
                {{add_device_group_guide_ment}}
            </p>
        </div>
        <div class="section">
            <div class="inputLine last">
                <p class="form_label">
                    <label for="deviceGroupName">
                        {{group.name_label}}
                    </label>
                </p>
                <p class="form_input">
                    <input class="input_default" type="text" id="deviceGroupName" ng-model="group.name" />
                </p>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_success" ng-disabled="if_disableAdd()" ng-click="add_deviceGroup()">
            Submit
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->