<!-- smModalWrap -->
<div class="smModalWrap addDevice">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            Add Device
        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        <div class="section">
            <p class="guideLine">
                {{add_device_guide_ment}}
            </p>
        </div>
        <div class="section">
            <div class="inputLine agentSection" ng-repeat="item in agents" ng-class="{'last': $last}">
                <div class="agentIconWrap">
                    <i class="fa fa-{{item.icon}} agentIcon" ng-style="item.icon_style"></i>
                </div>
                <div class="agentDetailWrap">
                    <div class="title">
                        {{item.os}}
                    </div>
                    <div class="infoLine">
                        <div class="info_label">
                            {{item.ver_label}}
                        </div>
                        <div class="info_value">
                            {{item.ver}}
                        </div>
                        <p class="clearfix"></p>
                    </div>
                    <div class="infoLine">
                        <div class="info_label">
                            {{item.size_label}}
                        </div>
                        <div class="info_value">
                            {{item.size}}
                            {{item.unit}}
                        </div>
                        <p class="clearfix"></p>
                    </div>
                    <a href="" class="btn btn-default btn-xs ver_info downloadBtn" ng-disabled="if_disableDownBtn(item.file_src)">Download</a>
                </div>
                <p class="clearfix"></p>
            </div>
            <p class="clearfix"></p>
        </div>
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_success" ng-click="ok()">
            OK
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->