<!-- smModalWrap -->
<div class="smModalWrap deviceGroupSetting">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            Group Setting
        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        test
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_success" ng-click="ok()">
            Submit
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->