<!-- smModalWrap -->
<div class="smModalWrap deviceMemo">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            Device Memo
        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        <div class="section">
            <p class="guideLine">
                {{mode_device_memo_guide_ment}}
            </p>
        </div>
        <div class="section">
            <div class="inputLine edit_memo_line last">
                <a href=""
                   editable-textarea="this_device[device_memo.field]"
                   onbeforesave="updateDeviceMemoByDB(device_memo.field, $data)">
                    <pre class="memo_area">{{this_device.memo || device_memo.empty}}</pre>
                </a>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_success" ng-click="ok()">
            OK
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->