<!-- smModalWrap -->
<div class="smModalWrap deviceProperty">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            Device Property
        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        <div class="section">
            <p class="guideLine">
                {{mode_device_property_guide_ment}}
            </p>
        </div>
        <div class="section">
            <div class="inputLine" ng-repeat="item in deviceProperty" ng-class="{'last': $last}">
                <div class="name">
                    <label>
                        {{item.name}}
                    </label>
                </div>
                <div class="valueWrap">
                    <div class="value item-wrapper">
                        <a href=""
                            editable-text="this_device[item.field]"
                            onbeforesave="updateDevicePropertyByDB(item.field, $data)">
                            {{this_device[item.field] || item.empty}}
                        </a>
                    </div>
                </div>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_success" ng-click="ok()">
            OK
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->