<!-- smModalWrap -->
<div class="smModalWrap confirm_addUser">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            <i class="fa fa-question-circle"></i> Register User Information Confirm
        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        <div class="section">
            <p class="guideLine">
                {{add_user_guide_ment}}
            </p>
        </div>
        <div class="section">
            <div class="inputLine">
                <p class="form_label">
                    <label>
                        {{confirm_reg_user_info.mail.name}}
                    </label>
                </p>
                <p class="form_input">
                    {{confirm_reg_user_info.mail.value}}
                </p>
                <p class="clearfix"></p>
            </div>
            <div class="inputLine">
                <p class="form_label">
                    <label>
                        {{confirm_reg_user_info.name.name}}
                    </label>
                </p>
                <p class="form_input">
                    {{confirm_reg_user_info.name.value}}
                </p>
                <p class="clearfix"></p>
            </div>
            <div class="inputLine">
                <p class="form_label">
                    <label>
                        {{confirm_reg_user_info.phone.name}}
                    </label>
                </p>
                <p class="form_input">
                    {{confirm_reg_user_info.phone.value}}
                </p>
                <p class="clearfix"></p>
            </div>
            <div class="inputLine">
                <p class="form_label">
                    <label>
                        {{confirm_reg_user_info.tel.name}}
                    </label>
                </p>
                <p class="form_input">
                    {{confirm_reg_user_info.tel.value}}
                </p>
                <p class="clearfix"></p>
            </div>
            <div class="inputLine">
                <p class="form_label">
                    <label>
                        {{confirm_reg_user_info.position.name}}
                    </label>
                </p>
                <p class="form_input">
                    {{confirm_reg_user_info.position.value}}
                </p>
                <p class="clearfix"></p>
            </div>
            <div class="inputLine last">
                <p class="form_label">
                    <label>
                        {{confirm_reg_user_info.department.name}}
                    </label>
                </p>
                <p class="form_input">
                    {{confirm_reg_user_info.department.value}}
                </p>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_default" ng-click="ok()">
            Yes
        </a>
        <a href="" class="btn btn-default btn-sm ver_purple" ng-click="close()">
            No
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->