<!-- smModalWrap -->
<div class="smModalWrap confirm">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            <i class="fa fa-question-circle"></i> Confirm
        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        <div class="section">
            <p class="guideLine">
                {{confirm_guide_ment}}
            </p>
        </div>
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_default" ng-click="ok()">
            Yes
        </a>
        <a href="" class="btn btn-default btn-sm ver_purple" ng-click="close()">
            No
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->