<!-- smModalWrap -->
<div class="smModalWrap login_notify">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            <i class="fa fa-info-circle"></i> Notify

        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        <p class="section notify_msg">
            {{info.msg}}
        </p>
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_info resendMailBtn" ng-if="info.step == '2'" ng-click="close()">
            <i class="fa fa-send-o"></i> Resend
        </a>
        <a href="" class="btn btn-default btn-sm ver_info" ng-click="ok()">
            OK
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->