<!-- smModalWrap -->
<div class="smModalWrap notify">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            <i class="fa fa-info-circle"></i> Notify
        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        test
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_info" ng-click="ok()">
            OK
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->