<!-- smModalWrap -->
<div class="smModalWrap fileManagerConfirm">
    <!-- smModalHeader -->
    <div class="smModalHeader">
        <span class="title">
            File Manager
        </span>
    </div>
    <!-- //smModalHeader -->
    <!-- smModalBody -->
    <div class="smModalBody">
        <div class="section">
            <p class="guideLine last">
                {{file_manager_guide_ment}}
            </p>
        </div>
    </div>
    <!-- //smModalBody -->
    <!-- smModalFooter -->
    <div class="smModalFooter">
        <a href="" class="btn btn-default btn-sm ver_default" ng-click="ok()">
            Execute
        </a>
        <a href="" class="btn btn-default btn-sm ver_purple" ng-click="close()">
            Cancel
        </a>
    </div>
    <!-- //smModalFooter -->
</div>
<!-- //smModalWrap -->