<!-- smModalWrap -->
<div class="smModalWrap liveDevice">
    <!-- smModalBody -->
    <div class="smModalBody">
        <div class="deviceImgWrap">
            <img class="deviceImg" ng-src="{{liveDevice.img_uri}}"
                 alt="Device Image" onError="var blankSrc = './images/live/live_no_img.jpg'; this.src = blankSrc;" />
        </div>
    </div>
    <!-- //smModalBody -->
</div>
<!-- //smModalWrap -->