<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="47">
    <!-- content -->
    <div class="content featuresWrap">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="intro.features.title"></span>
                <span class="subTitle" translate="intro.features.subTitle"></span>
            </p>
        </div>
        <!-- //smHeader -->
    </div>
    <!-- //content -->
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->
