<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="45">
    <!-- side -->
    <div class="side" ng-include="deviceSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content devicesWrap" ng-init="devicesCookieSync()">
        <!-- smHeader -->
        <div class="smHeader">
            <div class="titleLine">
                <span class="title" translate="content.devices.title"></span>
                <span class="subTitle" translate="content.devices.subTitle"></span>
            </div>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default addDeviceBtn" ng-click="openAddDeviceModal(agents)">
                        <i class="fa fa-plus"></i> Add Device
                    </a>
                    <a href="" ng-if="if_showBtns('Add Group')" class="btn btn-default btn-xs ver_default addGroupBtn" ng-click="openAddDeviceGroupModal(groups)">
                        <i class="fa fa-plus"></i> Add Group
                    </a>
                    <a href="" ng-if="if_showBtns('Group Setting')" class="btn btn-default btn-xs ver_default groupSettingBtn" ng-click="openDeviceGroupSettingModal()">
                        <i class="fa fa-cog"></i> Group Setting
                    </a>
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" tooltip="Refresh"ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2', 'all')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- deviceListWrap -->
        <div class="smTablePanelWrap deviceListWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    Device List
                </span>
                <div class="viewMode">
                    <input  class="viewModeRange" type="range" ng-show="if_showDeviceContentMode(devicesPage.view_mode)" ng-model="deviceImgSize" min="1" max="4"/>
                    <label class="i-switch viewModeSwitch">
                        <input type="checkbox" ng-model="devicesPage.view_mode" ng-change="setSwitchMode(devicesPage.view_mode)"/><i></i>
                    </label>
                </div>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <!-- deviceListMenu -->
                <div class="deviceListMenu">
                    <p class="clearfix"></p>
                    <div class="tableMenuLine">
                        <div class="tableInfoSection">
                            <div class="totalBox">
                                <span class="totalLabel">Total :</span><span class="totalValue brand-info ver_info">{{deviceTable.total()}}</span><span class="totalUnit">item(s)</span>
                            </div>
                            <div class="lineBox" ng-hide="if_showDeviceContentMode(devicesPage.view_mode)">
                                <span class="lineLabel">Lines :</span>
                                <select class="input_default selectLine" ng-options="limit.value for limit in deviceTableLimits" ng-model="deviceTableLimit" ng-change="deviceTable.count(deviceTableLimit.value)">
                                </select>
                            </div>
                        </div>
                        <div class="filterSection">
                            <select class="input_default selectFilter"
                                    ng-options="selector.name for selector in deviceTableFilterSelectors"
                                    ng-model="deviceTableFilterSelector"
                                    ng-change="setFilterIndex(deviceTableFilterSelector.index)">
                            </select>
                            <input type="hidden" class="deviceTableFilter" ng-repeat="filter in deviceTableFilters"
                                   ui-select2="getFilterOptions(filter)" ng-model="deviceTableFilterSelected[$index]"
                                   ng-if="$index == deviceTableFilterIndex" />
                        </div>
                    </div>
                    <p class="clearfix"></p>
                </div>
                <!-- //deviceListMenu -->
                <!-- deviceGridContent -->
                <div class="deviceGridContent" ng-show="if_showDeviceContentMode(devicesPage.view_mode)" loading-container="deviceTable.settings().$loading">
                    <div class="deviceGrid" ng-repeat="item in devices" ng-if="!if_showDeviceData(item.pk)" ng-class="{'deviceGridEmpty': !if_showDeviceData(item.pk)}">
                        {{config_str.EMPTY}}
                    </div>

                    <div class="deviceGrid" ng-repeat="item in devices" ng-if="if_showDeviceData(item.pk)" ng-click="openLiveDeviceModal(item)">
                        <span class="deviceImgWrap" ng-style="deviceImgStyle()">
                            <img class="deviceImg" ng-style="deviceImgStyle()" ng-src="{{item.live_img_src}}"
                                 alt="Device Image" onError="var blankSrc = './images/live/live_no_img.jpg'; this.src = blankSrc;" />
                        </span>
                        <span class="deviceAlias" ng-if="if_showData(item.alias)">
                            {{item.alias}}
                        </span>
                        <span class="deviceAlias empty" ng-if="!if_showData(item.alias)" class="brand-NA">
                            {{config_str.EMPTY}}
                        </span>
                    </div>
                </div>
                <!-- //deviceGridContent -->
                <!-- deviceListContent -->
                <div class="deviceListContent" ng-show="!if_showDeviceContentMode(devicesPage.view_mode)" loading-container="deviceTable.settings().$loading">
                    <table ng-table="deviceTable" class="smTable deviceTable">
                        <thead>
                            <tr>
                                <th ng-repeat="head in deviceTableHeader" class="{{head.className}}"
                                    ng-class="{'sortable': head.sortable, 'sort-asc': deviceTable.isSortBy(head.field, 'asc'), 'sort-desc': deviceTable.isSortBy(head.field, 'desc')}"
                                    ng-click="head.sortable ? deviceTable.sorting(head.field, deviceTable.isSortBy(head.field, 'asc') ? 'desc' : 'asc') : ''">
                                    <div>
                                        <span ng-if="head.name != config_str.EMPTY">
                                            {{head.name}}
                                        </span>
                                        <span ng-if="head.name == config_str.EMPTY">
                                            &nbsp;
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr ng-repeat="item in $data" ng-if="!if_showDeviceData(item.pk)" class="brand-info-line">
                                <td colspan="{{deviceTableCol}}">
                                    <div>
                                        <span class="brand-info">{{config_str.EMPTY}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in $data" ng-if="if_showDeviceData(item.pk)" ng-class="{'brand-gray-line': $odd}">
                                <td class="no">
                                    <div>
                                        <span>
                                            {{(deviceTable.page() - 1) * deviceTable.count() + $index + 1}}
                                        </span>
                                    </div>
                                </td>
                                <td class="group">
                                    <div class="item-wrapper item-wrapper-table">
                                        <span>
                                            <a href=""
                                               editable-select="item.device_group_fk"
                                               e-ng-options="g.pk as g.name for g in groups"
                                               onbeforesave="updateDeviceGroupByDB('device_group_fk', $data, item.pk)">
                                                {{showDeviceGroupsStatus(groups, item.device_group_fk)}}
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <!--td class="type">
                                    <span bind-html-unsafe="getDeviceTypeIcon(item.dev_type_id)"></span>
                                </td-->
                                <td class="os">
                                    <div>
                                        <span bind-html-unsafe="getDeviceOSIcon(item.dev_os_id)"></span>
                                    </div>
                                </td>
                                <td class="alias">
                                    <div>
                                        <span ng-if="if_showData(item.alias)">
                                            {{item.alias}}
                                        </span>
                                        <span ng-if="!if_showData(item.alias)" class="brand-NA">
                                            {{config_str.EMPTY}}
                                        </span>
                                    </div>
                                </td>
                                <td class="act1">
                                    <div>
                                        <span>
                                            <a href="" class="btn btn-default ver_default btn-xs" ng-click="openDeviceRemoteControlModal(item)">
                                                <i class="fa fa-wifi"></i> Remote Control
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <td class="act2">
                                    <div>
                                        <span>
                                            <a href="" class="btn btn-default ver_default btn-xs" ng-click="openLiveDeviceModal(item, deviceImg_uri)">
                                                <i class="fa fa-image"></i> Live Screenshot
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <td class="act3">
                                    <div>
                                        <span>
                                            <a href="" class="btn btn-default ver_default btn-xs" ng-click="openDeviceFileManagerModal(item)">
                                                <i class="fa fa-file-o"></i> File Manager
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <td class="act4">
                                    <div>
                                        <span>
                                            <a href="" class="btn btn-default ver_default btn-xs" ng-click="movePage('/main/alerts')">
                                                <i class="fa fa-exclamation"></i> Alerts
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <td class="act5">
                                    <div>
                                        <span>
                                            <a href="" class="btn btn-default ver_default btn-xs" ng-click="openDevicePropertyModal(item)">
                                                <i class="fa fa-edit"></i> Properties
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <td class="act6">
                                    <div>
                                        <span>
                                            <a href="" class="btn btn-default ver_default btn-xs" ng-click="openDeviceMemoModal(item)">
                                                <i class="fa fa-comment-o"></i> Memo
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <td class="act7">
                                    <div>
                                        <span>
                                            <a href="" class="btn btn-warning btn-xs" ng-click="movePage('/main/live'+'/'+ showDeviceOSStatus(item.dev_os_id) +'/'+ item.pk)">
                                                <i class="fa fa-link"></i> Live Status
                                            </a>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //deviceListContent -->
            </div>
        </div>
        <!-- //deviceListWrap -->
    </div>
    <!-- //content -->
    <p class="clearfix"></p>
</div>
<!-- //container -->
<p class="clearfix"></p>
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->