<!-- sideMenu -->
<div class="sideMenu deviceSide" ng-style="autoStyleHeight()" resize header="49" footer="0" obstacle="0">
    <div class="hideScroll" ng-style="autoStyleHeight()" ng-class="{'onScroll': isScroll('groups')}" resize header="49" footer="0" obstacle="0">
        <!-- groups -->
        <ul class="groups">
            <!-- root -->
            <li class="root">
                <a href="" ng-click="onClickDeviceGroup('all', 'all')" ng-class="{'active': onActiveDeviceGroup('all', 'all')}">
                    <i class="fa corpIcon" ng-class="{'fa-building-o': !onActiveDeviceGroup('all', 'all'), 'fa-building': onActiveDeviceGroup('all', 'all')}"></i>
                    <span class="deviceGroupText">
                        Show All
                    </span>
                </a>
            </li>
            <!-- //root -->
            <!-- Group -->
            <li ng-repeat="item in groups | orderBy: 'flag_df_group' : true" ng-if="if_showGroup(item)" class="group">
                <a href="" ng-click="onClickDeviceGroup(item.flag_df_group, item.pk)" ng-class="{'active': onActiveDeviceGroup(item.flag_df_group, item.pk)}">
                    <i class="fa groupIcon" ng-class="{'fa-folder-o': !onActiveDeviceGroup(item.flag_df_group, item.pk), 'fa-folder': onActiveDeviceGroup(item.flag_df_group, item.pk)}"></i>
                    <span class="deviceGroupText">
                        {{item.name}}
                    </span>
                    <b ng-if="!item.flag_confirm" class="label bg-info newGroup">N</b>
                </a>
            </li>
            <!-- //Group -->
        </ul>
        <!-- //groups -->
    </div>
</div>
<!-- //sideMenu -->
<p class="clearfix"></p>
