<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="47">
    <!-- side -->
    <div class="side" ng-include="helpSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content inquiryWrap">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.help.title"></span>
                <span class="subTitle" translate="content.help.subTitle"></span>
            </p>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" tooltip="Refresh" ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2', 'inquiry')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- inquiryListWrap -->
        <div class="smTablePanelWrap inquiryListWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    Inquiry &amp; History
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
            </div>
        </div>
        <!-- //inquiryListWrap -->
    </div>
    <!-- //content -->
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->