<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="47">
    <!-- side -->
    <div class="side" ng-include="helpSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content helpContent resourcesWrap">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.help.title"></span>
                <span class="subTitle" translate="content.help.subTitle"></span>
            </p>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2', 'resource')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- agentWrap -->
        <div class="smTablePanelWrap agentWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    Agent
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <div class="agentContent">
                    <div class="sectionWrap">
                        <div class="agentSection" ng-repeat="item in agents" ng-class="{'last': $last}">
                            <div class="section_title">
                                <span class="brand-info ver_info">{{item.os}}</span>
                            </div>
                            <div class="section_img">
                                <i class="fa fa-{{item.icon}}" ng-style="item.icon_style"></i>
                            </div>
                            <div class="section_info">
                                <div class="ver">
                                    <span class="ver_label">
                                        {{item.ver_label}}
                                    </span>
                                    <span class="ver_value">
                                        {{item.ver}}
                                    </span>
                                    <p class="clearfix"></p>
                                </div>
                                <div class="size">
                                    <span class="size_label">
                                        {{item.size_label}}
                                    </span>
                                    <span class="size_value">
                                        {{item.size}} {{item.unit}}
                                    </span>
                                    <p class="clearfix"></p>
                                </div>
                                <p class="clearfix"></p>
                            </div>
                            <div class="down">
                                <a href="" class="btn btn-default ver_info downloadBtn" ng-disabled="if_disableDownBtn(item.file_src)">
                                    <i class="fa fa-download"></i> Download
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="clearfix"></p>
                </div>
            </div>
        </div>
        <!-- //agentWrap -->
        <!-- manualWrap -->
        <div class="smTablePanelWrap manualWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    Manuals
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <div class="manualContent">
                    <div class="manualLineWrap">
                        <div class="manualLine" ng-repeat="item in manuals">
                            <div class="manual_label">
                                <i class="fa fa-file-pdf-o brand-danger ver_danger"></i> {{item.label}}
                            </div>
                            <div class="manual_download">
                                <a href="" class="btn btn-default ver_info downloadBtn" ng-disabled="if_disableDownBtn(item.file_src)">
                                    <i class="fa fa-download"></i> Download
                                </a>
                            </div>
                            <p class="clearfix"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //manualWrap -->
    </div>
    <!-- //content -->
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->