/* content.administration */
.content.adminWrap{margin-left:200px;}

.sideMenu.adminSide{overflow:hidden;}
.sideMenu.adminSide .hideScroll{overflow:auto;width:217px;}
.sideMenu.adminSide .hideScroll.onScroll{width:234px;}

.sideMenu.adminSide .hideScroll .menu li a:after{display:block;clear:both;content:""}
.sideMenu.adminSide .hideScroll .menu li a{display:block;width:100%;padding:10px 20px 10px;font-size:14px;color:#869fb1;font-weight:700;-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;}
.sideMenu.adminSide .hideScroll .menu li a:hover{background-color:#16232d;}
.sideMenu.adminSide .hideScroll .menu li a.active{background-color:#16232d;color:#fff;}
.sideMenu.adminSide .hideScroll .menu li a i.icon{float:left;margin-top:3px;margin-right:5px;}
.sideMenu.adminSide .hideScroll .menu li a span.menuText{float:left;display:block;overflow:hidden;width:140px;white-space:nowrap;text-overflow: ellipsis;}
.sideMenu.adminSide .hideScroll .menu li a span.menuText:hover{white-space:normal;word-break:break-word;}
.sideMenu.adminSide .hideScroll .menu li a.active span.menuText{white-space:normal;word-break:break-word;}


