/* content.help */
.sideMenu.helpSide{overflow:hidden;}
.sideMenu.helpSide .hideScroll{overflow:auto;width:217px;}
.sideMenu.helpSide .hideScroll.onScroll{width:234px;}

.sideMenu.helpSide .hideScroll .menu li a:after{display:block;clear:both;content:""}
.sideMenu.helpSide .hideScroll .menu li a{display:block;width:100%;padding:10px 20px 10px;font-size:14px;color:#869fb1;font-weight:700;-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;}
.sideMenu.helpSide .hideScroll .menu li a:hover{background-color:#16232d;}
.sideMenu.helpSide .hideScroll .menu li a.active{background-color:#16232d;color:#fff;}
.sideMenu.helpSide .hideScroll .menu li a i.icon{float:left;margin-top:3px;margin-right:5px;}
.sideMenu.helpSide .hideScroll .menu li.root a span.menuText{float:left;display:block;overflow:hidden;width:140px;white-space:nowrap;text-overflow: ellipsis;}
.sideMenu.helpSide .hideScroll .menu li.root a span.menuText:hover{white-space:normal;word-break:break-word;}
.sideMenu.helpSide .hideScroll .menu li.root a.active span.menuText{white-space:normal;word-break:break-word;}
/* content.help -> resources */
.content.helpContent.resourcesWrap{margin-left:200px;}
.content.helpContent.resourcesWrap .tablePanelHeader .title{width:200px;}

.content.helpContent.resourcesWrap .agentWrap{margin:20px 20px 0 20px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent{padding:5px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap{width:1100px;margin:0 auto;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection{float:left;width:230px;margin:10px 50px 20px 0;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection.last{margin:10px 0 20px 0;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_title span{font-size:20px;font-weight:600;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_img{text-align:center;margin:5px 0 20px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_img i{font-size:100px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_info{margin-bottom:5px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_info .ver{width:130px;margin:0 auto;line-height:25px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_info .ver span{display:block;font-size:14px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_info .ver .ver_label{float:left;width:80px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_info .ver .ver_value{float:left;width:50px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_info .size{width:130px;margin:0 auto;line-height:25px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_info .size span{display:block;font-size:14px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_info .size .size_label{float:left;width:80px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .section_info .size .size_value{float:left;width:50px;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .down .downloadBtn{width:100%;}
.content.helpContent.resourcesWrap .agentWrap .agentContent .sectionWrap .agentSection .down .downloadBtn i{margin-right:5px;}

.content.helpContent.resourcesWrap .manualWrap{margin:20px 20px 0 20px;}
.content.helpContent.resourcesWrap .manualWrap .manualContent{padding:5px;}
.content.helpContent.resourcesWrap .manualWrap .manualContent .manualLineWrap .manualLine{margin:10px;}
.content.helpContent.resourcesWrap .manualWrap .manualContent .manualLineWrap .manualLine .manual_label{float:left;width:400px;line-height:35px;font-size:17px;}
.content.helpContent.resourcesWrap .manualWrap .manualContent .manualLineWrap .manualLine .manual_label i{margin-right:5px;}
.content.helpContent.resourcesWrap .manualWrap .manualContent .manualLineWrap .manualLine .manual_download{float:left;width:230px;}
.content.helpContent.resourcesWrap .manualWrap .manualContent .manualLineWrap .manualLine .manual_download .downloadBtn{width:100%;}
.content.helpContent.resourcesWrap .manualWrap .manualContent .manualLineWrap .manualLine .manual_download .downloadBtn i{margin-right:5px;}

/* content.help -> inquiry */
.content.inquiryWrap{margin-left:200px;}
.content.inquiryWrap .tablePanelHeader .title{width:200px;}

.content.inquiryWrap .inquiryListWrap{margin:20px 20px 0 20px;}