/* content.reportRemoteDashWrap */
.content.reportRemoteDashWrap{margin-left:200px;}

.reportRemoteDashWrap .searchBar{margin:20px 20px 0 20px;}
.reportRemoteDashWrap .searchBar .tablePanelHeader .title{width:200px;}
.reportRemoteDashWrap .searchBar .searchContent{padding:5px;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection{margin-bottom:5px;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection.last{margin-bottom:0;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection .search_label{float:left;width:65px;height:22px;line-height:22px;font-size:14px;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection .search_box{float:left;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection .search_box .btn{margin-right:5px;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection .search_box .start_date{float:left;width:120px;height:22px;margin-right:5px;line-height:22px;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection .search_box .period_split{float:left;display:block;width:10px;text-align:center;height:22px;margin-right:5px;line-height:22px;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection .search_box .end_date{float:left;width:120px;height:22px;line-height:22px;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection .search_box .period_year_select{float:left;display:block;width:55px;height:22px;line-height:22px;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection .search_box .period_monthly_select{float:left;display:block;width:40px;height:22px;line-height:22px;}
.reportRemoteDashWrap .searchBar .searchContent .searchSection .search_box .period_select_unit{float:left;display:block;width:30px;height:22px;line-height:22px;text-align:center;font-size:14px;}


.reportRemoteDashWrap .panelUnDLine{margin:20px 20px 20px 20px;}
.reportRemoteDashWrap .panelUnDLine .userUsageWrap{float:left;width:49%;}
.reportRemoteDashWrap .panelUnDLine .userUsageWrap .tablePanelHeader .title{width:200px;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent{}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr td div{margin:0;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr th.no{width:55px;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr th.no div{text-align:right;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr td.no div{text-align:right;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr th.mail{width:180px;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr th.usage{width:300px;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr th.usage div{text-align:center;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr td.usage div.usageProgress{float:left;width:200px;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr td.usage div.usageNum{float:right;width:50px;text-align:right;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr th.cnt{}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr th.cnt div{text-align:center;}
.reportRemoteDashWrap .panelUnDLine .userUsageContent .remoteDashUserTable tr td.cnt div{text-align:center;}

.reportRemoteDashWrap .panelUnDLine .deviceUsageWrap{float:right;width:49%;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageWrap .tablePanelHeader .title{width:200px;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent{}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr td div{margin:0;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr th.no{width:55px;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr th.no div{text-align:right;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr td.no div{text-align:right;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr th.mail{width:180px;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr th.usage{width:300px;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr th.usage div{text-align:center;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr td.usage div.usageProgress{float:left;width:200px;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr td.usage div.usageNum{float:right;width:50px;text-align:right;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr th.cnt{}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr th.cnt div{text-align:center;}
.reportRemoteDashWrap .panelUnDLine .deviceUsageContent .remoteDashDeviceTable tr td.cnt div{text-align:center;}

.reportRemoteDashWrap .panelTnCLine{margin:20px 20px 20px 20px;}
.reportRemoteDashWrap .panelTnCLine .tableWrap{float:left;width:49%;}
.reportRemoteDashWrap .panelTnCLine .tableWrap .tablePanelHeader .title{width:200px;}
.reportRemoteDashWrap .panelTnCLine .tableWrap .tableContent{}

.reportRemoteDashWrap .panelTnCLine .chartWrap{float:right;width:49%;}
.reportRemoteDashWrap .panelTnCLine .chartWrap .tablePanelHeader .title{width:200px;}
.reportRemoteDashWrap .panelTnCLine .chartWrap .chartContent{padding:5px;}



/* content.reportRemoteHistoryWrap */
.content.reportRemoteHistoryWrap{margin-left:200px;}

.reportRemoteHistoryWrap .remoteHistoryWrap{margin:20px 20px 20px 20px;}
.reportRemoteHistoryWrap .remoteHistoryWrap .historyMenu{padding:15px;border-bottom:1px solid #edf1f2;}
.reportRemoteHistoryWrap .remoteHistoryWrap .historyMenu .tableInfoSection{float:left;}
.reportRemoteHistoryWrap .remoteHistoryWrap .historyMenu .tableInfoSection .totalBox{float:left;height:26px;line-height:26px;}
.reportRemoteHistoryWrap .remoteHistoryWrap .historyMenu .tableInfoSection .totalBox .totalLabel{font-size:14px;margin-right:5px;}
.reportRemoteHistoryWrap .remoteHistoryWrap .historyMenu .tableInfoSection .totalBox .totalValue{font-size:14px;margin-right:5px;}
.reportRemoteHistoryWrap .remoteHistoryWrap .historyMenu .tableInfoSection .totalBox .totalUnit{font-size:14px;margin-right:5px;}
.reportRemoteHistoryWrap .remoteHistoryWrap .historyMenu .tableInfoSection .lineBox{float:left;width:100px;height:26px;line-height:26px;padding-left:5px;border-left:1px solid #dee5e7;}
.reportRemoteHistoryWrap .remoteHistoryWrap .historyMenu .tableInfoSection .lineBox .lineLabel{float:left;font-size:14px;margin-right:5px;}
.reportRemoteHistoryWrap .remoteHistoryWrap .historyMenu .tableInfoSection .lineBox .selectLine{float:left;width:50px;height:26px;line-height:26px;}