<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="45">
    <!-- side -->
    <div class="side" ng-include="reportSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content reportRemoteDashWrap" ng-controller="RemoteDashCtrl">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.reports.title"></span>
                <span class="subTitle" translate="content.reports.subTitle"></span>
            </p>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" tooltip="Refresh" ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step5"></i>
                    <a href="" ng-if="thisPath.step5" ng-click="movePath(thisPath, 'step5')">
                        {{thisPath.step5.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- searchBar -->
        <div class="smTablePanelWrap searchBar">
            <div class="tablePanelHeader">
                <span class="title">
                    Search Bar
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <!-- searchContent -->
                <div class="searchContent">
                    <div class="searchSection">
                        <!-- search_label -->
                        <div class="search_label">
                            Condition
                        </div>
                        <!-- //search_label -->
                        <!-- search_box -->
                        <div class="search_box">
                            <a href="" ng-repeat="tag in searchTags" ng-click="onClickReportMenu(tag)" class="btn btn-xs btn-default {{tag.class_name}}" ng-class="{'btn-primary': !if_searchTag(tag.id), 'ver_danger': if_searchTag(tag.id)}">
                                {{tag.name}}
                            </a>
                        </div>
                        <!-- //search_box -->
                        <p class="clearfix"></p>
                    </div>
                    <div class="searchSection" ng-if="if_showIsSummary() || if_showIsHourly() || if_showIsUserSpecific()">
                        <!-- search_label -->
                        <div class="search_label">
                            Interval
                        </div>
                        <!-- //search_label -->
                        <!-- search_box -->
                        <div class="search_box">
                            <a href="" ng-repeat="period in summary_periods" ng-click="updateSummaryPeriod(period)" class="btn btn-xs btn-default {{period.class_name}}" ng-class="{'btn-primary': !if_searchPeriod(period.id), 'ver_danger': if_searchPeriod(period.id)}">
                                {{period.name}}
                            </a>
                        </div>
                        <!-- //search_box -->
                        <p class="clearfix"></p>
                    </div>
                    <div class="searchSection last" ng-if="if_showIsSummary() || if_showIsHourly() || if_showIsUserSpecific()">
                        <!-- search_label -->
                        <div class="search_label">
                            Period
                        </div>
                        <!-- //search_label -->
                        <!-- search_box -->
                        <div class="search_box">
                            <input class="input_default start_date" type="date" ng-disabled="daily_period!='0_etc'" ng-model="search_date.start_date" />
                            <span class="period_split"> <i class="fa" ng-class="{'fa-link': daily_period!='0_etc', 'fa-unlink': daily_period=='0_etc'}"></i> </span>
                            <input class="input_default end_date" type="date" ng-disabled="daily_period!='0_etc'" ng-model="search_date.end_date" />
                        </div>
                        <!-- //search_box -->
                        <p class="clearfix"></p>
                    </div>
                    <div class="searchSection last" ng-if="!(if_showIsSummary() || if_showIsHourly() || if_showIsUserSpecific())">
                        <!-- search_label -->
                        <div class="search_label">
                            Period
                        </div>
                        <!-- //search_label -->
                        <!-- search_box -->
                        <div class="search_box">
                            <select class="input_default period_year_select" ng-if="if_showIsMonthly() || if_showIsDaily()" ng-options="y_p.text for y_p in year_periods" ng-model="period.year">
                            </select>
                            <span class="period_select_unit" ng-if="if_showIsMonthly() || if_showIsDaily()">Year</span>
                            <select class="input_default period_monthly_select" ng-if="if_showIsDaily()" ng-options="m_p.text for m_p in month_periods" ng-model="period.month">
                            </select>
                            <span class="period_select_unit" ng-if="if_showIsDaily()">Month</span>
                        </div>
                        <!-- //search_box -->
                        <p class="clearfix"></p>
                    </div>
                </div>
                <!-- //searchContent -->
            </div>
        </div>
        <!-- //searchBar -->
        <div class="panelUnDLine" ng-if="if_showIsSummary()">
            <p class="clearfix"></p>
            <!-- userUsageWrap -->
            <div class="smTablePanelWrap userUsageWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Top 10 - User
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody">
                    <!-- userUsageContent -->
                    <div class="userUsageContent">
                        <table ng-table="remoteDashUserTable" class="smTable remoteDashUserTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in remoteDashUserTableHeader" class="{{header.className}}">
                                        <div>
                                            <span>
                                                {{header.name}}
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr ng-repeat="item in $data" ng-if="!if_showRemoteDashTable(item.pk)" class="brand-info-line">
                                    <td colspan="{{remoteDashUserTableCol}}">
                                        <div>
                                            <span class="brand-info">{{config_str.EMPTY}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="item in $data | orderBy: 'usage' : true" ng-if="if_showRemoteDashTable(item.pk)" ng-class="{'brand-gray-line': $odd}">
                                    <td class="no">
                                        <div>
                                            <span>
                                                {{(remoteDashUserTable.page() - 1) * remoteDashUserTable.count() + $index + 1}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="mail">
                                        <div>
                                            <span ng-if="if_showRemoteDashTableColumn(item.pk)">
                                                {{item.reg_mail}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="usage">
                                        <div class="usageNum">
                                            <span ng-if="if_showRemoteDashTableColumn(item.pk)">
                                                {{item.usage | number: 2}} %
                                            </span>
                                        </div>
                                        <div class="usageProgress" ng-if="if_showRemoteDashTableColumn(item.pk)">
                                            <progressbar value="item.usage" class="progress-striped active" type="{{getProcessProgressType(item.usage)}}"></progressbar>
                                        </div>
                                    </td>
                                    <td class="cnt">
                                        <div>
                                            <span ng-if="if_showRemoteDashTableColumn(item.pk)">
                                                {{item.count}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //userUsageContent -->
                </div>
            </div>
            <!-- //userUsageWrap -->
            <!-- deviceUsageWrap -->
            <div class="smTablePanelWrap deviceUsageWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Top 10 - Device
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody">
                    <!-- deviceUsageContent -->
                    <div class="deviceUsageContent">
                        <table ng-table="remoteDashDeviceTable" class="smTable remoteDashDeviceTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in remoteDashDeviceTableHeader" class="{{header.className}}">
                                        <div>
                                            <span>
                                                {{header.name}}
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr ng-repeat="item in $data" ng-if="!if_showRemoteDashTable(item.pk)" class="brand-info-line">
                                    <td colspan="{{remoteDashDeviceTableCol}}">
                                        <div>
                                            <span class="brand-info">{{config_str.EMPTY}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="item in $data | orderBy: 'usage' : true" ng-if="if_showRemoteDashTable(item.pk)" ng-class="{'brand-gray-line': $odd}">
                                    <td class="no">
                                        <div>
                                            <span>
                                                {{(remoteDashDeviceTable.page() - 1) * remoteDashDeviceTable.count() + $index + 1}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="mail">
                                        <div>
                                            <span ng-if="if_showRemoteDashTableColumn(item.pk)">
                                                {{item.reg_mail}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="usage">
                                        <div class="usageNum">
                                            <span ng-if="if_showRemoteDashTableColumn(item.pk)">
                                                {{item.usage | number: 2}} %
                                            </span>
                                        </div>
                                        <div class="usageProgress" ng-if="if_showRemoteDashTableColumn(item.pk)">
                                            <progressbar value="item.usage" class="progress-striped active" type="{{getProcessProgressType(item.usage)}}"></progressbar>
                                        </div>
                                    </td>
                                    <td class="cnt">
                                        <div>
                                            <span ng-if="if_showRemoteDashTableColumn(item.pk)">
                                                {{item.count}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //deviceUsageContent -->
                </div>
            </div>
            <!-- //deviceUsageWrap -->
            <p class="clearfix"></p>
        </div>
        <div class="panelTnCLine" ng-if="!if_showIsSummary()">
            <p class="clearfix"></p>
            <!-- tableWrap -->
            <div class="smTablePanelWrap tableWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Table
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody">
                    <!-- tableContent -->
                    <div class="tableContent" ng-if="if_showIsMonthly()">
                        <table class="smTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="item in remoteLogTableHeader" class="{{item.className}}">
                                        <div>
                                            <span>
                                                {{item.name}}
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in monthly_logs">
                                    <td class="date">
                                        <div>
                                            <span>
                                                {{item.start_date}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="cnt">
                                        <div>
                                            <span>
                                                {{item.access_cnt}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="ratio">
                                        <div>
                                            <span>
                                                {{item.access_ratio | number: 2}} %
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //tableContent -->
                    <!-- tableContent -->
                    <div class="tableContent" ng-if="if_showIsDaily()">
                        <table class="smTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="item in remoteLogTableHeader" class="{{item.className}}">
                                        <div>
                                            <span>
                                                {{item.name}}
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in daily_logs">
                                    <td class="date">
                                        <div>
                                            <span>
                                                {{item.start_date}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="cnt">
                                        <div>
                                            <span>
                                                {{item.access_cnt}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="ratio">
                                        <div>
                                            <span>
                                                {{item.access_ratio | number: 2}} %
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //tableContent -->
                    <!-- tableContent -->
                    <div class="tableContent" ng-if="if_showIsHourly()">
                        <table class="smTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="item in remoteLogTableVer2Header" class="{{item.className}}">
                                        <div>
                                            <span>
                                                {{item.name}}
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in hourly_logs">
                                    <td class="date">
                                        <div>
                                            <span>
                                                {{item.value_date}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="cnt">
                                        <div>
                                            <span>
                                                {{item.access_cnt}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="t_date">
                                        <div>
                                            <span>
                                                {{item.total_time}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="a_date">
                                        <div>
                                            <span>
                                                {{item.average_time}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="ratio">
                                        <div>
                                            <span>
                                                {{item.access_ratio | number: 2}} %
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //tableContent -->
                </div>
            </div>
            <!-- //tableWrap -->
            <!-- chartWrap -->
            <div class="smTablePanelWrap chartWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Chart
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody">
                    <!-- chartContent -->
                    <div class="chartContent">
                        <highchart config="remoteChart"></highchart>
                    </div>
                    <!-- //chartContent -->
                </div>
            </div>
            <!-- //chartWrap -->
            <p class="clearfix"></p>
        </div>
    </div>
    <!-- //content -->
    <p class="clearfix"></p>
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->