/**
* common.css 15. 02. 25
* P: KSM
*/

/* common */
body {width:100%;margin:0 auto;background-color:#f0f3f4;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Tahoma, Dotum, Arial, AppleGothic, NanumGothic, verdana, sans-serif;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:10px;line-height:1.42857143;color:#58666e;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
    border-top:1px solid #f0f3f4;
}
/* common: status Loading */
.status_loading .loadingWrap{z-index:15;position:fixed;top:0;display:table;width:100%;height:100%;}
.status_loading .loadingWrap .loadingImg{display:table-cell;height:100%;padding:10px;text-align:center;vertical-align: middle;}
.status_loading .loadingWrap .loadingImg i{font-size:100px;}

/* loading */
.loading-container{position:relative;}

.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}

.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}

/* common : Header */
.smHeader{height:87px;background-color:#f6f8f8;border-bottom:1px solid #dee5e7;}
.smHeader .titleLine{float:left;width:500px;height:87px;margin-left:20px;}
.smHeader .titleLine .title{display:block;padding-top:10px;color:#58666e;font-size:30px;font-weight:300;}
.smHeader .titleLine .subTitle{color:#a3b2cd;font-size:14px;}
.smHeader .mainFuncLine{float:right;padding-top:20px;margin-right:20px;}
.smHeader .mainFuncLine .btns{text-align:right;}
.smHeader .mainFuncLine .thisPath{font-size:14px;margin-top:10px;text-align:right;}
.smHeader .mainFuncLine .thisPath a{padding:2px 2px;color:#98a6ad;}
.smHeader .mainFuncLine .thisPath a:hover{color:#98a6ad;}
.smHeader .mainFuncLine .thisPath i.fa-angle-right{font-size:10px;line-height:14px;color:#58666e;}
/* common : panel */
.smPanelWrap{
    border:1px solid #fff;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    background-color:#fff;

    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
}
/* common : table panel */
.smTablePanelWrap{
    border:1px solid #dee5e7;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.smTablePanelWrap .tablePanelHeader{
    background-color:#f6f8f8;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-bottom:1px solid #edf1f2;
}
.smTablePanelWrap .tablePanelHeader .title{
    float:left;
    display:block;
    width:100px;
    margin:10px 15px;
    font-size:18px;
    line-height:1.1;
    font-weight:500;
    color:#333;
}
.smTablePanelWrap .tablePanelHeader .tablePanelToggle{float:right;margin:8px 10px;}
.smTablePanelWrap .tablePanelHeader .guide_msg{float:left;margin:12px 0;font-size:14px;line-height:1.1;font-weight:500;}
.smTablePanelWrap .tablePanelBody{background-color:#fff;}

/* common : table */
.smTable{width:100%;}
.smTable thead tr{border-bottom:1px solid #edf1f2;}
.smTable thead tr th{padding:8px 15px;}
.smTable thead tr th div{text-align:left;font-size:14px;color:#58666e;font-weight:bold;}
.smTable tfoot tr{border-bottom:1px solid #edf1f2;}
.smTable tfoot tr td{padding:8px 15px;font-size:14px;color:#58666e;}
.smTable tfoot tr td div span{display:block;width:100%;text-align:center;}
.smTable tbody tr{border-bottom:1px solid #edf1f2;}
.smTable tbody tr td{padding:8px 15px;font-size:14px;color:#58666e;}
.smTable tbody tr td div span{display:block;width:100%;}

/* common : modal */
.smModalWrap{border:1px solid #dee5e7;border-radius: 2px;-webkit-border-radius:2px;-moz-border-radius:2px;box-shadow: 0 1px 1px rgba(0, 0, 0, .05);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .05);background-color:#fff;text-align:left;}
.smModalWrap .smModalHeader{padding:10px 15px;border-bottom:1px solid #edf1f2;border-radius: 2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;background-color:#f6f8f8;font-size: 18px;color:#333;font-weight: 500;line-height: 1.1;}
.smModalWrap .smModalBody{padding:15px 0;}
.smModalWrap .smModalBody .section{padding:0 15px;}
.smModalWrap .smModalBody .section.dashed{border-bottom:1px dashed #dee5e7;}
.smModalWrap .smModalBody .section .guideLine{margin: 0 0 10px;color:#98a6ad;font-size:14px;line-height:1.42857143;}
.smModalWrap .smModalBody .section .guideLine.last{margin:0;}
.smModalWrap .smModalBody .section .inputLine{color:#58666e;font-size:14px;line-height:1.42857143;margin: 0 0 10px;}
.smModalWrap .smModalBody .section .inputLine.last{margin:0;}
.smModalWrap .smModalFooter{padding:10px 15px;border-top:1px solid #edf1f2;border-radius: 0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;background-color:#f6f8f8;color:#58666e;text-align:right;}

/* common:test */
.test{background-color:red;}

/* func: filter */
.black_filter{background-color:#000;opacity: 0.5;filter: alpha(opacity=50);-ms-filter: "alpha(opacity=50)";-khtml-opacity: 50;-moz-opacity: 50;}
.white_filter{background-color:#FFF;opacity: 0.5;filter: alpha(opacity=50);-ms-filter: "alpha(opacity=50)";-khtml-opacity: 50;-moz-opacity: 50;}
/* func : overflow */
.overflow_dot{display:block;overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis}
.overflow_dot:hover{white-space:normal;word-break:break-word;}

/* func : brand */
.brand-primary{color:#428bca}
.border-primary{border-color:#428bca;}
.brand-purple{color:#7266ba}
.brand-purple-line{background-color:#7266ba;}
.border-purple{border-color:#7266ba;}
.brand-info{color:#5bc0de}
.border-info{border-color:#5bc0de;}
.brand-info.ver_info{color:#23b7e5;}
.border-info.ver_info{border-color:#23b7e5;}
.brand-info-line{background-color:#d9edf7}
.brand-info-line.ver_info{background-color:#23b7e5;}
.brand-success{color:#5cb85c}
.border-success{border-color:#5cb85c}
.brand-success.ver_success{color:#27c24c;}
.border-success.ver_success{border-color:#27c24c}
.brand-success-line{background-color:#dff0d8}
.brand-success-line.ver_success{background-color:#27c24c;}
.brand-warning{color:#f0ad4e}
.border-warning{border-color:#f0ad4e}
.brand-warning.ver_warning{color:#fad733;}
.border-warning.ver_warning{border-color:#fad733;}
.brand-warning-line{background-color:#fcf8e3}
.brand-warning-line.ver_warning{background-color:#fad733;}
.brand-danger{color:#d9534f}
.border-danger{border-color:#d9534f}
.brand-danger.ver_danger{color:#f05050;}
.border-danger.ver_danger{border-color:#f05050;}
.brand-danger-line{background-color:#f2dede}
.brand-danger-line.ver_danger{background-color:#f05050;}
.brand-gray-line{background-color:#f7f7f7}
.brand-CCC{color:#ccc}
.brand-BBB{color:#BBB}
.brand-AAA{color:#AAA}
.brand-666{color:#666}
.brand-black{color:#1c2b36;}
.brand-black-line{background-color:#1c2b36;}
.brand-white{color:#fff;}
.brand-white-line{background-color:#fff;}
/* func : font-style */
.brand-NA{color:#ccc}
.brand-memo{font-size:10px;color:#888;font-style:italic}

.brand-highchart-default1{color:#7cb5ec;}
.brand-highchart-default2{color:#434348;}
.brand-highchart-default3{color:#90ed7d;}
.brand-highchart-default4{color:#f7a35c;}
.brand-highchart-default5{color:#8085e9;}
.brand-highchart-default6{color:#f15c80;}
.brand-highchart-default7{color:#e4d354;}
.brand-highchart-default8{color:#2b908f;}
.brand-highchart-default9{color:#f45b5b;}
.brand-highchart-default0{color:#91e8e1;}

.brand-highchart-ver2-1{color:#4572A7;}
.brand-highchart-ver2-2{color:#AA4643;}
.brand-highchart-ver2-3{color:#89A54E;}
.brand-highchart-ver2-4{color:#80699B;}
.brand-highchart-ver2-5{color:#3D96AE;}
.brand-highchart-ver2-6{color:#DB843D;}
.brand-highchart-ver2-7{color:#92A8CD;}
.brand-highchart-ver2-8{color:#A47D7C;}
.brand-highchart-ver2-9{color:#B5CA92;}

.brand-highchart-ver3-1{color:#2f7ed8;}
.brand-highchart-ver3-2{color:#0d233a;}
.brand-highchart-ver3-3{color:#8bbc21;}
.brand-highchart-ver3-4{color:#910000;}
.brand-highchart-ver3-5{color:#1aadce;}
.brand-highchart-ver3-6{color:#492970;}
.brand-highchart-ver3-7{color:#f28f43;}
.brand-highchart-ver3-8{color:#77a1e5;}
.brand-highchart-ver3-9{color:#c42525;}
.brand-highchart-ver3-0{color:#a6c96a;}

/* func : alert */
.alert{font-size:13px;box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);}
.alert .close i{display:block;font-size:12px;font-weight:normal;}
.well,
pre{background-color:#edf1f2;border-color: #dee5e7;}

/* For IE8 */
.ng-hide {display:none!important;}

/*---------------------------------------------------------- shadow --------------------------------------------------*/
.box-shadow{box-shadow:0 2px 2px rgba(0, 0, 0, 0.05),0 1px 0 rgba(0, 0, 0, 0.05);}
.box-shadow-lg{box-shadow:5px 5px 10px rgba(0, 0, 0, 0.05);}
.text-shadow{font-size:170px;text-shadow:0 1px 0 #dee5e7,0 2px 0 #fcfdfd,0 5px 10px rgba(0, 0, 0, 0.125),0 10px 20px rgba(0, 0, 0, 0.2);}
.no-shadow{-webkit-box-shadow: none !important;box-shadow: none !important;}
/*----------------------------------------------------------- form ---------------------------------------------------*/
.i-switch{position:relative;display:inline-block;width:35px;height:20px;margin:0;cursor:pointer;background-color:#27c24c;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
}
.i-switch input{position: absolute;opacity: 0;filter: alpha(opacity=0);}
.i-switch input:checked + i:before{top:50%;right:5px;bottom:50%;left:50%;border-width:0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.i-switch input:checked + i:after{margin-left:16px;}
.i-switch i:before{position:absolute;top:-1px;right:-1px;bottom:-1px;left:-1px;background-color:#fff;border:1px solid #f0f0f0;
    border-radius:30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    content: "";-webkit-transition: all 0.2s;transition: all 0.2s;}
.i-switch i:after{position: absolute;top:1px;bottom:1px;width:18px;background-color:#fff;border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    content:"";-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);-webkit-transition: margin-left 0.3s;transition: margin-left 0.3s;}
.i-switch-md{width:40px;height:24px;}
.i-switch-md input:checked + i:after{margin-left:17px;}
.i-switch-md i:after{width:22px;}
.i-switch-lg{width:50px;height:30px;}
.i-switch-lg input:checked + i:after{margin-left:21px;}
.i-switch-lg i:after{width:28px;}

.i-checks{padding-left:20px;cursor: pointer;}
.i-checks input{position: absolute;margin-left:-20px;opacity:0;}
.i-checks input:checked + i{border-color: #23b7e5;}
.i-checks input:checked + i:before{top:4px;left:4px;width:10px;height:10px;background-color:#23b7e5;}
.i-checks input:checked + span .active{display:inherit;}
.i-checks input[type="radio"] + i,
.i-checks input[type="radio"] + i:before{border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.i-checks input[disabled] + i,
fieldset[disabled] .i-checks input + i {border-color: #dee5e7;}
.i-checks input[disabled] + i:before,
fieldset[disabled] .i-checks input + i:before{background-color: #dee5e7;}
.i-checks > i{position:relative;display:inline-block;width:20px;height:20px;margin-top:-2px;margin-right:4px;margin-left:-20px;line-height:1;vertical-align:middle;background-color:#fff;border:1px solid #cfdadd;}
.i-checks > i:before{position:absolute;top:50%;left:50%;width:0;height:0;background-color:transparent;content:"";-webkit-transition: all 0.2s;transition: all 0.2s;}
.i-checks > span{margin-left:-20px;}
.i-checks > span .active{display: none;}
.i-checks-sm input:checked + i:before{top:3px;left:3px;width:8px;height:8px;}
.i-checks-sm > i{width:16px;height:16px;margin-right:6px;margin-left:-18px;}
.i-checks-lg input:checked + i:before{top:8px;left:8px;width:12px;height:12px;}
.i-checks-lg > i{width:30px;height:30px;}

.input_default{
    display: block;
    width: 100%;
    height: 34px;
    margin: 0;
    padding:0;
    font-size: 14px;
    font-family: inherit;
    line-height: 1.42857143;
    color: #555;
    background-color:#fff;
    background-image:none;
    border:1px solid #cfdadd;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.input_default:focus{border-color:#23b7e5;}
.input_default.ver_success{border-color:#27c24c;}
.input_default.ver_danger{border-color:#f05050;}
.input_default .rounded {
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.form-control{border-color:#cfdadd;border-radius:2px;}
.form-control,
.form-control:focus{-webkit-box-shadow:none;box-shadow:none;}
.form-control:focus{border-color:#23b7e5;}
.form-validation .form-control.ng-dirty.ng-invalid{border-color:#f05050;}
.form-validation .form-control.ng-dirty.ng-valid,
.form-validation .form-control.ng-dirty.ng-valid:focus {border-color:#27c24c;}
.form-validation .i-checks .ng-invalid.ng-dirty + i {border-color:#f05050;}
/*---------------------------------------------------- drop down menu ------------------------------------------------*/
.dropdown-menu{border:1px solid #dee5e7;border:1px solid rgba(0, 0, 0, 0.1);
    border-radius:2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);}
.dropdown-menu.pull-left{left:100%;}
.dropdown-menu > .panel{margin:-5px 0;border:none;}
.dropdown-menu > li > a {padding:5px 15px;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {color:#141719;background-color:#edf1f2 !important;background-image:none;filter:none;}
.dropdown-header {padding:5px 15px;}
.dropdown-submenu {position:relative;}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a{color:#58666e;background-color: #edf1f2 !important;}
.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu:focus > .dropdown-menu{display:block;}
.dropdown-submenu.pull-left{float:none !important;}
.dropdown-submenu.pull-left > .dropdown-menu{left:-100%;margin-left:10px;}
.dropdown-submenu .dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;}
.dropup .dropdown-submenu > .dropdown-menu {top:auto;bottom:0;}
/*---------------------------------------------------------- table ---------------------------------------------------*/
.ng-table-counts{overflow:hidden;visibility:hidden;position:absolute;left:0;top:0;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px}
.ng-table-pager{padding:7px 0 5px;text-align:center;}
.pagination{margin:0;}
.pagination > li > a{border-color: #dee5e7;}
.pagination > li > a:hover,
.pagination > li > a:focus{background-color:#edf1f2;border-color:#dee5e7;}

.table > tbody > tr > td,
.table > tfoot > tr > td{padding:8px 15px;border-top:1px solid #eaeff0;}
.table > thead > tr > th{padding:8px 15px;border-bottom:1px solid #eaeff0;}
.table-bordered{border-color:#eaeff0;}
.table-bordered > tbody > tr > td{border-color:#eaeff0;}
.table-bordered > thead > tr > th{border-color:#eaeff0;}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th{background-color:#fafbfc;}
.table-striped > thead > th{background-color:#fafbfc;border-right:1px solid #eaeff0;}
.table-striped > thead > th:last-child{border-right:none;}
/*---------------------------------------------------------- panel ---------------------------------------------------*/
.panel{
    border-radius:2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.panel .accordion-toggle{display:block;font-size:14px;cursor:pointer;}
.panel .list-group-item{border-color:#edf1f2;}
.panel.no-borders{border-width:0;}
.panel.no-borders .panel-heading,
.panel.no-borders .panel-footer{border-width:0;}
.panel-heading{border-radius:2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
}
.panel-default .panel-heading{background-color:#f6f8f8;}
.panel-heading.no-border{margin:-1px -1px 0 -1px;border:none;}
.panel-heading .nav{margin:-10px -15px;}
.panel-heading .list-group{background:transparent;}
.panel-footer{background-color:#ffffff;border-color:#edf1f2;border-radius:0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
}
.panel-default{border-color:#dee5e7;}
.panel-default > .panel-heading,
.panel-default > .panel-footer{border-color: #edf1f2;}
.panel-group .panel-heading + .panel-collapse .panel-body{border-top: 1px solid #eaedef;}
/*--------------------------------------------------- modal width IE8 Solution ---------------------------------------*/
.modal-dialog{top:20px;width:100%;height:0px;text-align:center;}
.modal-content{display:inline-block;}
.modal-backdrop{background-color:#3a3f51;}
.modal-backdrop.in{
    height:100%;
    opacity:0.8;
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=80)";
    -khtml-opacity: 80;
    -moz-opacity: 80;
}
.modal-over{position:fixed;top:0;right:0;bottom:0;left:0;}
.modal-center{position: absolute;top:50%;left:50%;}
/*--------------------------------------------------- button ---------------------------------------------------------*/
.btn{font-weight:500;border-radius:2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    outline:0!important;}
.btn-link{color:#58666e;}
.btn-link.active{box-shadow:none;webkit-box-shadow:none;}

.btn-default.ver_default {
    color: #58666e !important;
    background-color: #fcfdfd;
    background-color: #fff;
    border-color: #dee5e7;
    border-bottom-color: #d8e1e3;
    -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
}

.btn-default.ver_default:hover,
.btn-default.ver_default:focus,
.btn-default.ver_default:active,
.btn-default.ver_default.active,
.open .dropdown-toggle.btn-default.ver_default {
    color: #58666e !important;
    background-color: #edf1f2;
    border-color: #c7d3d6;
}

.btn-default.ver_default:active,
.btn-default.ver_default.active,
.open .dropdown-toggle.btn-default.ver_default {
    background-image: none;
}

.btn-default.ver_default.disabled,
.btn-default.ver_default[disabled],
fieldset[disabled] .btn-default.ver_default,
.btn-default.ver_default.disabled:hover,
.btn-default.ver_default[disabled]:hover,
fieldset[disabled] .btn-default.ver_default:hover,
.btn-default.ver_default.disabled:focus,
.btn-default.ver_default[disabled]:focus,
fieldset[disabled] .btn-default.ver_default:focus,
.btn-default.ver_default.disabled:active,
.btn-default.ver_default[disabled]:active,
fieldset[disabled] .btn-default.ver_default:active,
.btn-default.ver_default.disabled.active,
.btn-default.ver_default[disabled].active,
fieldset[disabled] .btn-default.ver_default.active {
    background-color: #fcfdfd;
    border-color: #dee5e7;
}

.btn-default.ver_default.btn-bg {
    border-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

.btn-default.ver_purple {
    color: #ffffff !important;
    background-color: #7266ba;
    border-color: #7266ba;
}

.btn-default.ver_purple:hover,
.btn-default.ver_purple:focus,
.btn-default.ver_purple:active,
.btn-default.ver_purple.active,
.open .dropdown-toggle.btn-default.ver_purple {
    color: #ffffff !important;
    background-color: #6254b2;
    border-color: #5a4daa;
}

.btn-default.ver_purple:active,
.btn-default.ver_purple.active,
.open .dropdown-toggle.btn-default.ver_purple {
    background-image: none;
}

.btn-default.ver_purple.disabled,
.btn-default.ver_purple[disabled],
fieldset[disabled] .btn-default.ver_purple,
.btn-default.ver_purple.disabled:hover,
.btn-default.ver_purple[disabled]:hover,
fieldset[disabled] .btn-default.ver_purple:hover,
.btn-default.ver_purple.disabled:focus,
.btn-default.ver_purple[disabled]:focus,
fieldset[disabled] .btn-default.ver_purple:focus,
.btn-default.ver_purple.disabled:active,
.btn-default.ver_purple[disabled]:active,
fieldset[disabled] .btn-default.ver_purple:active,
.btn-default.ver_purple.disabled.active,
.btn-default.ver_purple[disabled].active,
fieldset[disabled] .btn-default.ver_purple.active {
    background-color: #7266ba;
    border-color: #7266ba;
}

.btn-default.ver_success {
    color: #ffffff !important;
    background-color: #27c24c;
    border-color: #27c24c;
}

.btn-default.ver_success:hover,
.btn-default.ver_success:focus,
.btn-default.ver_success:active,
.btn-default.ver_success.active,
.open .dropdown-toggle.btn-default.ver_success {
    color: #ffffff !important;
    background-color: #23ad44;
    border-color: #20a03f;
}

.btn-default.ver_success:active,
.btn-default.ver_success.active,
.open .dropdown-toggle.btn-default.ver_success {
    background-image: none;
}

.btn-default.ver_success.disabled,
.btn-default.ver_success[disabled],
fieldset[disabled] .btn-default.ver_success,
.btn-default.ver_success.disabled:hover,
.btn-default.ver_success[disabled]:hover,
fieldset[disabled] .btn-default.ver_success:hover,
.btn-default.ver_success.disabled:focus,
.btn-default.ver_success[disabled]:focus,
fieldset[disabled] .btn-default.ver_success:focus,
.btn-default.ver_success.disabled:active,
.btn-default.ver_success[disabled]:active,
fieldset[disabled] .btn-default.ver_success:active,
.btn-default.ver_success.disabled.active,
.btn-default.ver_success[disabled].active,
fieldset[disabled] .btn-default.ver_success.active {
    background-color: #27c24c;
    border-color: #27c24c;
}

.btn-default.ver_info {
    color: #ffffff !important;
    background-color: #23b7e5;
    border-color: #23b7e5;
}

.btn-default.ver_info:hover,
.btn-default.ver_info:focus,
.btn-default.ver_info:active,
.btn-default.ver_info.active,
.open .dropdown-toggle.btn-default.ver_info {
    color: #ffffff !important;
    background-color: #19a9d5;
    border-color: #189ec8;
}

.btn-default.ver_info:active,
.btn-default.ver_info.active,
.open .dropdown-toggle.btn-default.ver_info {
    background-image: none;
}

.btn-default.ver_info.disabled,
.btn-default.ver_info[disabled],
fieldset[disabled] .btn-default.ver_info,
.btn-default.ver_info.disabled:hover,
.btn-default.ver_info[disabled]:hover,
fieldset[disabled] .btn-default.ver_info:hover,
.btn-default.ver_info.disabled:focus,
.btn-default.ver_info[disabled]:focus,
fieldset[disabled] .btn-default.ver_info:focus,
.btn-default.ver_info.disabled:active,
.btn-default.ver_info[disabled]:active,
fieldset[disabled] .btn-default.ver_info:active,
.btn-default.ver_info.disabled.active,
.btn-default.ver_info[disabled].active,
fieldset[disabled] .btn-default.ver_info.active {
    background-color: #23b7e5;
    border-color: #23b7e5;
}

.btn-default.ver_warning {
    color: #ffffff !important;
    background-color: #fad733;
    border-color: #fad733;
}

.btn-default.ver_warning:hover,
.btn-default.ver_warning:focus,
.btn-default.ver_warning:active,
.btn-default.ver_warning.active,
.open .dropdown-toggle.btn-default.ver_warning {
    color: #ffffff !important;
    background-color: #f9d21a;
    border-color: #f9cf0b;
}

.btn-default.ver_warning:active,
.btn-default.ver_warning.active,
.open .dropdown-toggle.btn-default.ver_warning {
    background-image: none;
}

.btn-default.ver_warning.disabled,
.btn-default.ver_warning[disabled],
fieldset[disabled] .btn-default.ver_warning,
.btn-default.ver_warning.disabled:hover,
.btn-default.ver_warning[disabled]:hover,
fieldset[disabled] .btn-default.ver_warning:hover,
.btn-default.ver_warning.disabled:focus,
.btn-default.ver_warning[disabled]:focus,
fieldset[disabled] .btn-default.ver_warning:focus,
.btn-default.ver_warning.disabled:active,
.btn-default.ver_warning[disabled]:active,
fieldset[disabled] .btn-default.ver_warning:active,
.btn-default.ver_warning.disabled.active,
.btn-default.ver_warning[disabled].active,
fieldset[disabled] .btn-default.ver_warning.active {
    background-color: #fad733;
    border-color: #fad733;
}

.btn-default.ver_danger {
    color: #ffffff !important;
    background-color: #f05050;
    border-color: #f05050;
}

.btn-default.ver_danger:hover,
.btn-default.ver_danger:focus,
.btn-default.ver_danger:active,
.btn-default.ver_danger.active,
.open .dropdown-toggle.btn-default.ver_danger {
    color: #ffffff !important;
    background-color: #ee3939;
    border-color: #ed2a2a;
}

.btn-default.ver_danger:active,
.btn-default.ver_danger.active,
.open .dropdown-toggle.btn-default.ver_danger {
    background-image: none;
}

.btn-default.ver_danger.disabled,
.btn-default.ver_danger[disabled],
fieldset[disabled] .btn-default.ver_danger,
.btn-default.ver_danger.disabled:hover,
.btn-default.ver_danger[disabled]:hover,
fieldset[disabled] .btn-default.ver_danger:hover,
.btn-default.ver_danger.disabled:focus,
.btn-default.ver_danger[disabled]:focus,
fieldset[disabled] .btn-default.ver_danger:focus,
.btn-default.ver_danger.disabled:active,
.btn-default.ver_danger[disabled]:active,
fieldset[disabled] .btn-default.ver_danger:active,
.btn-default.ver_danger.disabled.active,
.btn-default.ver_danger[disabled].active,
fieldset[disabled] .btn-default.ver_danger.active {
    background-color: #f05050;
    border-color: #f05050;
}

.btn-default.ver_dark {
    color: #ffffff !important;
    background-color: #3a3f51;
    border-color: #3a3f51;
}

.btn-default.ver_dark:hover,
.btn-default.ver_dark:focus,
.btn-default.ver_dark:active,
.btn-default.ver_dark.active,
.open .dropdown-toggle.btn-default.ver_dark {
    color: #ffffff !important;
    background-color: #2f3342;
    border-color: #292d39;
}

.btn-default.ver_dark:active,
.btn-default.ver_dark.active,
.open .dropdown-toggle.btn-default.ver_dark {
    background-image: none;
}

.btn-default.ver_dark.disabled,
.btn-default.ver_dark[disabled],
fieldset[disabled] .btn-default.ver_dark,
.btn-default.ver_dark.disabled:hover,
.btn-default.ver_dark[disabled]:hover,
fieldset[disabled] .btn-default.ver_dark:hover,
.btn-default.ver_dark.disabled:focus,
.btn-default.ver_dark[disabled]:focus,
fieldset[disabled] .btn-default.ver_dark:focus,
.btn-default.ver_dark.disabled:active,
.btn-default.ver_dark[disabled]:active,
fieldset[disabled] .btn-default.ver_dark:active,
.btn-default.ver_dark.disabled.active,
.btn-default.ver_dark[disabled].active,
fieldset[disabled] .btn-default.ver_dark.active {
    background-color: #3a3f51;
    border-color: #3a3f51;
}

.btn-default.ver_black {
    color: #ffffff !important;
    background-color: #1c2b36;
    border-color: #1c2b36;
}

.btn-default.ver_black:hover,
.btn-default.ver_black:focus,
.btn-default.ver_black:active,
.btn-default.ver_black.active,
.open .dropdown-toggle.btn-default.ver_black {
    color: #ffffff !important;
    background-color: #131e25;
    border-color: #0e161b;
}

.btn-default.ver_black:active,
.btn-default.ver_black.active,
.open .dropdown-toggle.btn-default.ver_black {
    background-image: none;
}

.btn-default.ver_black.disabled,
.btn-default.ver_black[disabled],
fieldset[disabled] .btn-default.ver_black,
.btn-default.ver_black.disabled:hover,
.btn-default.ver_black[disabled]:hover,
fieldset[disabled] .btn-default.ver_black:hover,
.btn-default.ver_black.disabled:focus,
.btn-default.ver_black[disabled]:focus,
fieldset[disabled] .btn-default.ver_black:focus,
.btn-default.ver_black.disabled:active,
.btn-default.ver_black[disabled]:active,
fieldset[disabled] .btn-default.ver_black:active,
.btn-default.ver_black.disabled.active,
.btn-default.ver_black[disabled].active,
fieldset[disabled] .btn-default.ver_black.active {
    background-color: #1c2b36;
    border-color: #1c2b36;
}

.btn-rounded {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
/*-------------------------------------------------- progress --------------------------------------------------------*/
.progress{background-color: #edf1f2;}
.progress-xxs{height:2px;}
.progress-xs{height:6px;}
.progress-sm{height:12px;}
.progress-sm .progress-bar{font-size:10px;line-height:1em;}
.progress,
.progress-bar{-webkit-box-shadow:none;box-shadow:none;}
/*------------------------------------------------- select ui --------------------------------------------------------*/
.item-wrapper {position: relative;}
.item-wrapper a {display: inline !important;}
.item-wrapper form {background: #FFF;border: 1px solid #AAA;border-radius: 5px;display: inline-block;left:50%;
    margin-left: -110px;
    padding: 7px 7px 14px;
    position: absolute;
    top: -55px;
    z-index: 101;
}
.item-wrapper-table .editable-buttons{display:inline;}
.item-wrapper form:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #AAA;
    position: absolute;
    bottom: -10px;
    left: 100px;
}
.item-wrapper form:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFF;
    position: absolute;
    bottom: -9px;
    left: 101px;
}


