/**
 * footer.css
 * @P: KSM
 */
#footer .footLogo{float:left;width:205px;margin-left:17px;line-height:44px;font-size:13px;}
#footer .copy{float:left;line-height:44px;font-size:13px;}
#footer .familySite{float:right;width:250px;margin:5px 15px 0 0;line-height:32px;}
#footer .familySite .familySelector{float:right;width:125px;}
#footer .familySite .familySelector.AnySupport:focus{border-color:#23b7e5;}
#footer .familySite .familySelector.PCAnyPro:focus{border-color:#27c24c;}
#footer .familySite .familySelector.Liveweb:focus{border-color:#f05050;}
#footer .familySite .familySelector.Koino:focus{border-color:#428bca;}
#footer .familySite .familyLabel{float:right;margin-right:10px;font-size:20px;font-weight:700;}
#footer .familySite .familyLabel.AnySupport{color:#23b7e5;}
#footer .familySite .familyLabel.PCAnyPro{color:#27c24c;}
#footer .familySite .familyLabel.Liveweb{color:#f05050;}
#footer .familySite .familyLabel.Koino{color:#428bca;}