/**
 * header.css
 * @P: KSM
 */

/* logo */
#header .logo{float:left;width:200px;height:100%;line-height:49px;background-color:#1c2b36}
#header .logo a{margin-left:20px;font-size:20px;color:#c4d0d9;font-weight:700;line-height:50px;}
#header .logo a .logoLabel{margin-right:5px;}

/* gnb */
#header .gnb{float:left;height:100%;margin-left:20px;}
#header .gnb li{float:left;height:100%;line-height:49px;text-align:center;}
#header .gnb li a{display:block;width:100%;padding:0 20px;height:100%;color:#58666e;font-size:13px;}
#header .gnb li a:hover{background-color:#f6f8f8;color:#363f44;}
#header .gnb li a .fa{margin-right:3px;}
#header .gnb li a.active{background-color:#f6f8f8;}

/* topMenu */
#header .topMenu{float:right;height:100%}
#header .topMenu dd{float:left;height:100%;line-height:49px;text-align:center;}
#header .topMenu dd.trans .transLabel{display:block;width:100%;padding:0 20px;height:100%;font-size:13px;color:#363f44;}
#header .topMenu dd.trans .transLabel:hover{background-color:#f6f8f8;color:#363f44;}
#header .topMenu dd.trans .transMenu{top:47px;right:0;left:auto;}

#header .topMenu dd.userInfo .userLabel{display:block;width:100%;padding:0 20px;height:100%;font-size:13px;color:#363f44;}
#header .topMenu dd.userInfo .userLabel:hover{background-color:#f6f8f8;color:#363f44;}
#header .topMenu dd.userInfo .userMenu{padding-top:0;top:47px;right:0;left:auto;}
#header .topMenu dd.userInfo .userMenu .wrapper{margin:0 0 10px;border-top:1px solid #dee5e7;border-bottom:1px solid #dee5e7;background-color:#edf1f2;}
#header .topMenu dd.userInfo .userMenu .wrapper div p{color:#58666e;text-align:center;}