/**
* layout.css 15. 02. 24
* p : KSM
*/

/**
 * layout reset
 */
html,
body{width:100%;height:100%;padding:0;}
body{overflow-x:hidden;}
/**
 * lmm layout
 */
#wrap{width:100%;padding:0;margin:0 auto;}
#header{z-index:11;position:fixed;top:0;width:100%;height:49px;background-color:#fff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.lmmContainer{width:100%;margin:48px auto 0;}
.lmmContainer.noHeader{width:100%;margin:0 auto;}
.side{z-index:10;position:fixed;top:49px;width:200px;height:100%;background-color:#1c2b36;}
.content{}
#footer{width:100%;height:44px;background-color:#f6f8f8;border-top:1px solid #dee5e7;}

/**
 * MediaQuery
 */
@media (max-width: 640px) { /* phones */
}
@media (min-width: 641px) and (max-width: 959px) { /* tablets */
}
@media (min-width: 960px) { /* large desktops */
}
