/**
 * reset.css 15. 02. 24
 * p : KSM
 */

@charset "utf-8";
/* reset */
*:focus{outline: 0 !important;}
html,body{width:100%; height:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse}
fieldset,img,abbr,acronym{border:none}
address,caption,cite,code,em,strong,th{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
label{font-weight:normal}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;margin:0;}
q:before,q:after{content:""}
img,li{vertical-align:middle}
hr{display:none}
a{text-decoration:none}
a:hover{text-decoration:none}
a:focus{text-decoration:none}
button {border:0;padding:0;background:transparent;cursor:pointer;*overflow:visible}

#skipNavi,.blind{overflow:hidden;visibility:hidden;position:absolute;left:0;top:0;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px}

/* option reset */
a{color:#363f44;text-decoration:none;cursor:pointer;}
a:hover,
a:focus{color:#141719;text-decoration:none;}
small,
.small{font-size:13px;}