/* content.live status */
.content.liveWrap{margin-left:200px;}

.sideMenu.liveSide{overflow:hidden;}
.sideMenu.liveSide .hideScroll{overflow:auto;width:217px;}
.sideMenu.liveSide .hideScroll.onScroll{width:234px;}

.sideMenu.liveSide .hideScroll .groups li a:after{display:block;clear:both;content:""}
.sideMenu.liveSide .hideScroll .groups li.root > a{display:block;width:100%;padding:10px 20px 10px;font-size:14px;color:#869fb1;font-weight:700;-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;}
.sideMenu.liveSide .hideScroll .groups li.root > a:hover{background-color:#16232d;color:#fff;}
.sideMenu.liveSide .hideScroll .groups li.root > a.active{background-color:#16232d;color:#fff;}
.sideMenu.liveSide .hideScroll .groups li.root > a i.corpIcon{float:left;margin-top:3px;margin-right:5px;color:#27c24c;}
.sideMenu.liveSide .hideScroll .groups li.root > a span.deviceGroupText{float:left;display:block;overflow:hidden;width:140px;white-space:nowrap;text-overflow:ellipsis;}
.sideMenu.liveSide .hideScroll .groups li.root > a span.deviceGroupText:hover{white-space:normal;word-break:break-word;}
.sideMenu.liveSide .hideScroll .groups li.root > a.active span.deviceGroupText{white-space:normal;word-break:break-word;}
.sideMenu.liveSide .hideScroll .groups li.root > a i.toggleBtn{float:left;margin-top:3px;margin-left:3px;color:#869fb1;}

.sideMenu.liveSide .hideScroll .groups ul{margin-left:0px;position:relative;}
.sideMenu.liveSide .hideScroll .groups ul:before{content:"";display:block;width:0;position:absolute;top:0;bottom:0;left:0;border-left:1px dotted #869fb1;}
.sideMenu.liveSide .hideScroll .groups ul li:before{content:"";display:block;width:10px;height:0;border-top:1px dotted #869fb1;position:absolute;top:8px;left:0;}
.sideMenu.liveSide .hideScroll .groups ul li{margin:0;padding-left:12px;line-height:18px;position:relative;}
.sideMenu.liveSide .hideScroll .groups ul li.last:before {background-color:#1c2b36;height:auto;top:8px;bottom:0;}
.sideMenu.liveSide .hideScroll .groups ul li.group a{display:block;font-size:14px;color:#869fb1;font-weight:normal;-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;}
.sideMenu.liveSide .hideScroll .groups ul li.group a .groupIcon{position:absolute;top:2px;left:15px;}
.sideMenu.liveSide .hideScroll .groups ul li.group a span.deviceGroupText{display:inline-block;overflow:hidden;width:150px;text-indent:20px;white-space:nowrap;text-overflow:ellipsis;}
.sideMenu.liveSide .hideScroll .groups ul li.group a span.deviceGroupText:hover{white-space:normal;word-break:break-word;}
.sideMenu.liveSide .hideScroll .groups ul li.group a.active span.deviceGroupText{white-space:normal;word-break:break-word;}
.sideMenu.liveSide .hideScroll .groups ul li.group a i.expanderIcon{position:absolute;top:2px;left:-5px;background-color:#1c2b36;}

.sideMenu.liveSide .hideScroll .groups ul.sub_groups{margin-left:25px;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups li > a{-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups li > a:hover{background-color:#16232d;color:#fff;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups li > a.active{background-color:#16232d;color:#fff;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups li > a.active i.expanderIcon{background-color:#1c2b36;color:#869fb1;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups li > a.active .groupIcon{color:#fad733;}

.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices{margin-left:9px;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a{-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a .deviceIcon{position:absolute;top:2px;left:15px;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a span.deviceText{display:inline-block;overflow:hidden;width:130px;text-indent:22px;white-space:nowrap;text-overflow:ellipsis;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a span.deviceText:hover{white-space:normal;word-break:break-word;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a span.deviceText.empty{color:#888;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a.active span.deviceGroupText{white-space:normal;word-break:break-word;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a.empty{cursor:default;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a.empty .emptyIcon{position:absolute;top:2px;left:15px;color:#f05050;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a.empty:hover{background-color:transparent;}
.sideMenu.liveSide .hideScroll .groups ul.sub_groups ul.devices li.device a.empty span.deviceText{font-style:italic;}

.usageStatusWrap{margin:20px 20px 0 20px;}
.usageStatusWrap .tablePanelHeader .title{width:200px;}
.usageStatusWrap .usageStatusContent{padding:5px;}
.usageStatusWrap .usageStatusContent .statusImgWrap{float:left;display:block;width:200px;height:100px;}
.usageStatusWrap .usageStatusContent .statusImgWrap .liveImg{display:block;width:107px;height:80px;margin:10px auto;}
.usageStatusWrap .usageStatusContent .statusImgWrap .liveImg:hover{border:1px solid #23b7e5;cursor:pointer;}
.usageStatusWrap .usageStatusContent .usageStatusInfo{float:left;width:623px;}
.usageStatusWrap .usageStatusContent .usageStatusInfo .infoWrap{float:left;margin-left:10px;}
.usageStatusWrap .usageStatusContent .usageStatusInfo .infoWrap.left{border-right:1px solid #dee5e7;}
.usageStatusWrap .usageStatusContent .usageStatusInfo .infoWrap.right{}
.usageStatusWrap .usageStatusContent .usageStatusInfo .infoWrap .name{float:left;display:block;width:150px;font-size:14px;}
.usageStatusWrap .usageStatusContent .usageStatusInfo .infoWrap .value{float:left;display:block;width:150px;font-size:14px;}

.sysInfoWrap{margin:20px 20px 0 20px;}
.sysInfoWrap .tablePanelHeader .title{width:200px;}
.sysInfoWrap .sysInfoContent{padding:5px;}
.sysInfoWrap .sysInfoContent .sysInfo{width:623px;}
.sysInfoWrap .sysInfoContent .sysInfo .infoWrap{float:left;margin-left:10px;}
.sysInfoWrap .sysInfoContent .sysInfo .infoWrap.left{border-right:1px solid #dee5e7;}
.sysInfoWrap .sysInfoContent .sysInfo .infoWrap.right{}
.sysInfoWrap .sysInfoContent .sysInfo .infoWrap .name{float:left;display:block;width:150px;font-size:14px;}
.sysInfoWrap .sysInfoContent .sysInfo .infoWrap .value{float:left;display:block;width:150px;font-size:14px;}

.panelPnSLine{margin:20px 20px 0 20px;}
.panelPnSLine .processWrap{float:left;width:49%;}
.panelPnSLine .processWrap .tablePanelHeader .title{width:200px;}
.panelPnSLine .processWrap .tablePanelBody .processTable{border-bottom:1px solid #edf1f2;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr td div{margin:0;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr th.no{width:55px;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr th.no div{text-align:right;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr td.no div{text-align:right;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr th.name{width:180px;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr th.cpu{width:250px;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr th.cpu div{text-align:center;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr td.cpu div.processProgress{float:left;width:130px;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr td.cpu div.processUsage{float:right;width:50px;text-align:right;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr td.cpu div span{float:right;width:30px;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr th.memory{width:250px;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr th.memory div{text-align:center;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr td.memory div.processProgress{float:left;width:130px;}
.panelPnSLine .processWrap .tablePanelBody .processTable tr td.memory div.processUsage{float:right;width:50px;text-align:right;}

.panelPnSLine .softwareWrap{float:right;width:49%;}
.panelPnSLine .softwareWrap .tablePanelHeader .title{width:200px;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable{border-bottom:1px solid #edf1f2;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable tr td div{margin:0;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable tr td.name div span{display:block;overflow:hidden;width:150px;white-space:nowrap;text-overflow:ellipsis;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable tr td.name div span:hover{white-space:normal;word-break:break-word;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable tr td.corp div span{display:block;overflow:hidden;width:100px;white-space:nowrap;text-overflow:ellipsis;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable tr td.corp div span:hover{white-space:normal;word-break:break-word;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable tr th.physical div{text-align:right;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable tr td.physical div{text-align:right;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable tr th.version div{text-align:right;}
.panelPnSLine .softwareWrap .tablePanelBody .softwareTable tr td.version div{text-align:right;}

.panelHnALine{margin:20px 20px 20px 20px;}
.panelHnALine .hardwareWrap{float:left;width:49%;}
.panelHnALine .hardwareWrap .tablePanelHeader .title{width:200px;}
.panelHnALine .hardwareWrap .tablePanelBody .hardwareInfoContent{width:100%;}
.panelHnALine .hardwareWrap .tablePanelBody .hardwareInfoContent .hardwareInfo{}
.panelHnALine .hardwareWrap .tablePanelBody .hardwareInfoContent .hardwareInfo .infoWrapEmpty{text-align:center;padding:8px 15px;font-size:14px;}
.panelHnALine .hardwareWrap .tablePanelBody .hardwareInfoContent .hardwareInfo .infoWrap{padding:5px;}
.panelHnALine .hardwareWrap .tablePanelBody .hardwareInfoContent .hardwareInfo .infoWrap .name{float:left;display:block;width:100px;font-size:14px;}
.panelHnALine .hardwareWrap .tablePanelBody .hardwareInfoContent .hardwareInfo .infoWrap .value{float:left;display:block;font-size:14px;}

.panelHnALine .auditWrap{float:right;width:49%;}
.panelHnALine .auditWrap .tablePanelHeader .title{width:200px;}
