/* content.administration -> profileWrap */
.content.profileWrap{margin-left:200px;}
.content.profileWrap .tablePanelHeader .title{width:200px;}

.content.profileWrap .profileInfoWrap{margin:20px 20px 0 20px;}
.content.profileWrap .profileInfoWrap .title{width:155px;}
.content.profileWrap .profileInfoContent{padding:5px;}
.content.profileWrap .profileInfoContent .profileLine{margin-bottom:5px;}
.content.profileWrap .profileInfoContent .profileLine.leftSection{float:left;width:50%;}
.content.profileWrap .profileInfoContent .profileLine.rightSection{float:left;width:50%;}
.content.profileWrap .profileInfoContent .profileLine .profileLabel{float:left;width:180px;line-height:35px;font-size:14px;}
.content.profileWrap .profileInfoContent .profileLine .profileLabel .isRequired{font-size:10px;}
.content.profileWrap .profileInfoContent .profileLine .profileLabel .otpResetBtn{margin-left:10px;}
.content.profileWrap .profileInfoContent .profileLine .profileValue{float:left;width:300px;line-height:35px;font-size:14px;}
.content.profileWrap .profileInfoContent .profileLine .profileValue .receptionEmail.active{color:#23b7e5;}
.content.profileWrap .profileInfoContent .profileLine .profileValue .password_input{float:left;width:200px;margin-right:5px;}
.content.profileWrap .profileInfoContent .profileLine .profileValue .passwordSaveBtn{float:left;}
.content.profileWrap .profileInfoContent .profileLine .profileValue .retype_password_input{float:left;width:200px;margin-right:5px;}
.content.profileWrap .profileInfoContent .profileLine .profileValue .cancelSaveBtn{float:left;}

.content.profileWrap .logoWrap{margin:20px 20px 0 20px;}
.content.profileWrap .logoContent{padding:5px;}
.content.profileWrap .logoContent .preViewLogoImgWrap{float:left;width:200px;margin-right:5px;}
.content.profileWrap .logoContent .preViewLogoImgWrap .preViewLogoImg{width:200px;}
.content.profileWrap .logoContent .setLogo{float:left;}

.content.profileWrap .businessInfoWrap{margin:20px 20px 20px 20px;}
.content.profileWrap .businessInfoContent{padding:5px;}
.content.profileWrap .businessInfoContent .businessInfoLine{margin-bottom:5px;}
.content.profileWrap .businessInfoContent .businessInfoLine .businessInfoLabel{float:left;width:200px;line-height:35px;font-size:14px;}
.content.profileWrap .businessInfoContent .businessInfoLine .businessInfoValue{float:left;line-height:35px;font-size:14px;}