/* content.administration -> userManageWrap */
.content.userManageWrap{margin-left:200px;}
.content.userManageWrap .tablePanelHeader .title{width:200px;}
.content.userManageWrap .userListWrap{margin:20px 20px 0 20px;}

.userListWrap .userListMenu{padding:15px;border-bottom:1px solid #edf1f2;}
.userListWrap .userListMenu .tableMenuLine .tableInfoSection{float:left;}
.userListWrap .userListMenu .tableMenuLine .tableInfoSection .totalBox{float:left;height:26px;line-height:26px;}
.userListWrap .userListMenu .tableMenuLine .tableInfoSection .totalBox .totalLabel{font-size:14px;margin-right:5px;}
.userListWrap .userListMenu .tableMenuLine .tableInfoSection .totalBox .totalValue{font-size:14px;margin-right:5px;}
.userListWrap .userListMenu .tableMenuLine .tableInfoSection .totalBox .totalUnit{font-size:14px;margin-right:5px;}
.userListWrap .userListMenu .tableMenuLine .tableInfoSection .lineBox{float:left;width:100px;height:26px;line-height:26px;padding-left:5px;border-left:1px solid #dee5e7;}
.userListWrap .userListMenu .tableMenuLine .tableInfoSection .lineBox .lineLabel{float:left;font-size:14px;margin-right:5px;}
.userListWrap .userListMenu .tableMenuLine .tableInfoSection .lineBox .selectLine{float:left;width:50px;height:26px;line-height:26px;}

/* content.administration -> userRegWrap */
.content.userRegWrap{margin-left:200px;}
.content.userRegWrap .tablePanelHeader .title{width:200px;}

.content.userRegWrap .userRegInfoWrap{margin:20px 20px 0 20px;}
.content.userRegWrap .userRegInfoWrap .tablePanelHeader .title{width:200px;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent{padding:5px;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent .userRegInfoLine.leftSection{float:left;width:50%;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent .userRegInfoLine.rightSection{float:right;width:50%;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent .userRegInfoLine .regInfoLabel{float:left;width:180px;line-height:35px;font-size:14px;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent .userRegInfoLine .regInfoLabel .isRequired{font-size:10px;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent .userRegInfoLine .regInfoValue{float:left;width:300px;line-height:35px;font-size:14px;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent .userRegInfoLine .regInfoValue input{padding-left:10px;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent .userRegInfoLine .regInfoValue input.border-success{border-color:#27c24c;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent .userRegInfoLine .regInfoValue input.border-danger{border-color:#f05050;}
.content.userRegWrap .userRegInfoWrap .userRegInfoContent .userRegInfoLine .regInfoValue input.border-warning{border-color:#f0ad4e;}

.content.userRegWrap .panelAnELine{margin:20px 20px 0 20px;}
.content.userRegWrap .panelAnELine .userRegAuthWrap{float:left;width:49%;}
.content.userRegWrap .panelAnELine .userRegAuthWrap .tablePanelHeader .title{width:200px;}
.content.userRegWrap .panelAnELine .userRegAuthWrap .userRegAuthContent{padding:5px;}

.content.userRegWrap .panelAnELine .userRegDGWrap{float:right;width:49%;}
.content.userRegWrap .panelAnELine .userRegDGWrap .tablePanelHeader .title{width:200px;}
.content.userRegWrap .panelAnELine .userRegDGWrap .userRegDGContent{padding:5px;}

.content.userRegWrap .userRegBtnWrap{margin:20px 20px 20px 20px;text-align:center;}
.content.userRegWrap .userRegBtnWrap .userRegBtn{width:220px;}

/* content.administration -> userProfileWrap */
.content.userProfileWrap{margin-left:200px;}
.content.userProfileWrap .tablePanelHeader .title{width:200px;}

.content.userProfileWrap .userProfileInfoWrap{margin:20px 20px 0 20px;}
.content.userProfileWrap .userProfileInfoWrap .tablePanelHeader .title{width:200px;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent{padding:5px;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine{margin-bottom:5px;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine.leftSection{float:left;width:50%;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine.rightSection{float:right;width:50%;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoLabel{float:left;width:180px;line-height:35px;font-size:14px;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoLabel .isRequired{font-size:10px;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoValue{float:left;width:300px;line-height:35px;font-size:14px;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoValue .password_input{float:left;width:200px;margin-right:5px;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoValue .passwordSaveBtn{float:left;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoValue .retype_password_input{float:left;width:200px;margin-right:5px;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoValue .cancelSaveBtn{float:left;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoValue input{padding-left:10px;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoValue input.border-success{border-color:#27c24c;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoValue input.border-danger{border-color:#f05050;}
.content.userProfileWrap .userProfileInfoWrap .userProfileInfoContent .userProfileInfoLine .profileInfoValue input.border-warning{border-color:#f0ad4e;}

.content.userProfileWrap .panelAnELine{margin:20px 20px 20px 20px;}
.content.userProfileWrap .panelAnELine .userProfileAuthWrap{float:left;width:49%;}
.content.userProfileWrap .panelAnELine .userProfileAuthWrap .tablePanelHeader .title{width:200px;}
.content.userProfileWrap .panelAnELine .userProfileAuthWrap .userProfileAuthContent{padding:5px;}

.content.userProfileWrap .panelAnELine .userProfileDGWrap{float:right;width:49%;}
.content.userProfileWrap .panelAnELine .userProfileDGWrap .tablePanelHeader .title{width:200px;}
.content.userProfileWrap .panelAnELine .userProfileDGWrap .userProfileDGContent{}

