/* content.reports */
.content.reportsWrap{margin-left:200px;}

.sideMenu.reportSide{overflow:hidden;}
.sideMenu.reportSide .hideScroll{overflow:auto;width:217px;}
.sideMenu.reportSide .hideScroll.onScroll{width:234px;}

.sideMenu.reportSide .hideScroll .menu li a:after{display:block;clear:both;content:""}
.sideMenu.reportSide .hideScroll .menu li a{display:block;width:100%;padding:10px 20px 10px;font-size:14px;color:#fff;font-weight:700;-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;cursor:default;}
.sideMenu.reportSide .hideScroll .menu li a i.icon{float:left;margin-top:3px;margin-right:5px;}
.sideMenu.reportSide .hideScroll .menu li a span.menuText{float:left;display:block;overflow:hidden;width:155px;white-space:nowrap;text-overflow: ellipsis;}
.sideMenu.reportSide .hideScroll .menu li a span.menuText:hover{white-space:normal;word-break:break-word;}
.sideMenu.reportSide .hideScroll .menu li a.active span.menuText{white-space:normal;word-break:break-word;}
.sideMenu.reportSide .hideScroll .menu li a i.toggleBtn{float:left;margin-top:3px;margin-left:3px;color:#869fb1;}

.sideMenu.reportSide .hideScroll .menu ul.sub_menu{background-color:#131e26;}
.sideMenu.reportSide .hideScroll .menu ul.sub_menu li a{display:block;width:100%;padding:5px 20px 5px 35px;font-size:14px;color:#869fb1;font-weight:normal;-webkit-transition: background-color 0.2s ease-in-out 0s;transition: background-color 0.2s ease-in-out 0s;cursor:pointer;}
.sideMenu.reportSide .hideScroll .menu ul.sub_menu li a:hover{background-color:#16232d;color:#fff;}
.sideMenu.reportSide .hideScroll .menu ul.sub_menu li a.active{background-color:#16232d;color:#fff;}