<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="45">
    <!-- side -->
    <div class="side" ng-include="adminSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content adminWrap">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.admin.title"></span>
                <span class="subTitle" translate="content.admin.subTitle"></span>
            </p>
        </div>
        <!-- //smHeader -->
    </div>
    <!-- //content -->
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->