<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="45">
    <!-- side -->
    <div class="side" ng-include="adminSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content profileWrap" ng-controller="ProfileCtrl">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.admin.title"></span>
                <span class="subTitle" translate="content.admin.subTitle"></span>
            </p>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" tooltip="Refresh" ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2', 'profile')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- profileInfoWrap -->
        <div class="smTablePanelWrap profileInfoWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    Profile
                </span>
                <span class="guide_msg brand-info ver_info">
                    {{profile.guide_msg}}
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <div class="profileInfoContent">
                    <!-- left section -->
                    <div class="profileLine leftSection">
                        <!-- email -->
                        <div class="profileLabel">
                            <label>
                                {{profile.id.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <span ng-if="if_showAdminData(user[profile.id.field])">
                                {{user[profile.id.field]}}
                            </span>
                            <span class="receptionEmail" ng-class="{'active': user.recept_mail}" ng-if="if_showAdminData(user[profile.id.field])">
                                <label class="i-checks">
                                    <input type="checkbox" ng-click="updateUserByDB(profile.recept_mail.field, user.recept_mail)" ng-model="user.recept_mail"/><i></i> Receive e-mail services and events.
                                </label>
                            </span>
                            <span class="brand-NA" ng-if="!if_showAdminData(user[profile.id.field])">N/A</span>
                        </div>
                        <!-- //email -->
                        <p class="clearfix"></p>
                        <!-- password -->
                        <div class="profileLabel">
                            <label for="profile.password.id">
                                {{profile.password.name}} <span class="isRequired" ng-if="profile.password.isRequired"><i class="fa fa-asterisk brand-danger ver_danger"></i></span>
                            </label>
                        </div>
                        <div class="profileValue" ng-if="!profile.password.edit_flag">
                            <a class="btn btn-default btn-sm ver_purple" href="" ng-click="editPassword()">Edit</a>
                        </div>
                        <div class="profileValue" ng-if="profile.password.edit_flag">
                            <input class="input_default password_input {{profile.password.status_class}}" id="profile.password.id" type="password" ng-model="profile.password.value" ng-change="validatePassword()" /> <a href="" class="btn btn-default btn-sm ver_default cancelSaveBtn" ng-click="cancelEditPassword()">Cancel</a>
                            <p class="clearfix"></p>
                        </div>
                        <!-- //password -->
                        <span ng-if="profile.password.edit_flag">
                            <p class="clearfix"></p>
                            <!-- retype password -->
                            <div class="profileLabel">
                                <label for="profile.retype_password.id">
                                    {{profile.retype_password.name}} <span class="isRequired" ng-if="profile.retype_password.isRequired"><i class="fa fa-asterisk brand-danger ver_danger"></i></span>
                                </label>
                            </div>
                            <div class="profileValue">
                                <input class="input_default retype_password_input {{profile.retype_password.status_class}}" id="profile.retype_password.id" type="password" ng-model="profile.retype_password.value" ng-change="validatePassword()" ng-disabled="!profile.retype_password.edit_flag" /> <a href="" class="btn btn-default btn-sm ver_danger passwordSaveBtn" ng-disabled="!profile.retype_password.save_flag" ng-click="updateUserByDB(profile.password.field, profile.password.value)">Save</a>
                                <p class="clearfix"></p>
                            </div>
                            <!-- //retype password -->
                        </span>
                        <p class="clearfix"></p>
                        <!-- 2 step -->
                        <div class="profileLabel">
                            <label>
                                {{profile.step2.name}}
                            </label>
                            <a href="" class="btn btn-default btn-xs ver_danger otpResetBtn" ng-click="otp_reset()">Reset</a>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-select="user.flag_use_otp"
                               e-ng-options="s.value as s.text for s in setting.on_off.statuses"
                               onbeforesave="updateUserByDB(profile.step2.field, $data)">
                                {{showOnOffStatus(user.flag_use_otp)}}
                            </a>
                        </div>
                        <!-- //2 step -->
                        <p class="clearfix"></p>
                        <!-- time zone -->
                        <div class="profileLabel">
                            <label>
                                {{profile.time_zone.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-select="user.time_zone_id"
                               e-ng-options="s.value as s.text for s in setting.time_zone.statuses"
                               onbeforesave="updateUserByDB(profile.time_zone.field, $data)">
                                {{showTimeZoneStatus(user.time_zone_id)}}
                            </a>
                        </div>
                        <!-- //time zone -->
                        <p class="clearfix"></p>
                        <!-- date format -->
                        <div class="profileLabel">
                            <label>
                                {{profile.date_fmt.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-select="user.date_fmt_id"
                               e-ng-options="s.value as s.text for s in setting.date_fmt.statuses"
                               onbeforesave="updateUserByDB(profile.date_fmt.field, $data)">
                                {{showDateFormatStatus(user.date_fmt_id)}}
                            </a>
                        </div>
                        <!-- //date format -->
                        <p class="clearfix"></p>
                        <!-- duplicate_login --
                        <div class="profileLabel">
                            <label>
                                {{profile.duplicate_login.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-select="user.flag_duplicate_prevent"
                               e-ng-options="s.value as s.text for s in setting.on_off.statuses"
                               onbeforesave="updateUserByDB(profile.duplicate_login.field, $data)">
                                {{showOnOffStatus(user.flag_duplicate_prevent)}}
                            </a>
                        </div>
                        <!-- //duplicate_login -->
                        <p class="clearfix"></p>
                        <!-- refresh -->
                        <div class="profileLabel">
                            <label>
                                {{profile.refresh.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-select="user.flag_refresh"
                               e-ng-options="s.value as s.text for s in setting.on_off.statuses"
                               onbeforesave="updateUserByDB(profile.refresh.field, $data)">
                                {{showOnOffStatus(user.flag_refresh)}}
                            </a>
                        </div>
                        <!-- //refresh -->
                        <span ng-if="user.flag_refresh">
                            <p class="clearfix"></p>
                            <!-- refresh time -->
                            <div class="profileLabel">
                                <label>
                                    {{profile.refresh_interval.name}}
                                </label>
                            </div>
                            <div class="profileValue">
                                <a href=""
                                   editable-number="user.refresh_interval"
                                   onbeforesave="updateUserByDB(profile.refresh_interval.field, $data)">
                                    {{user[profile.refresh_interval.field]}}
                                </a>
                            </div>
                            <!-- //refresh time -->
                        </span>
                        <p class="clearfix"></p>
                    </div>
                    <!-- //left section -->
                    <!-- right section -->
                    <div class="profileLine rightSection">
                        <!-- name -->
                        <div class="profileLabel">
                            <label>
                                {{profile.name.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-text="user.name"
                               onbeforesave="updateUserByDB(profile.name.field, $data)">
                                {{user[profile.name.field] || profile.name.empty}}
                            </a>
                        </div>
                        <!-- //name -->
                        <p class="clearfix"></p>
                        <!-- mobile phone -->
                        <div class="profileLabel">
                            <label>
                                {{profile.phone.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-text="user.phone"
                               onbeforesave="updateUserByDB(profile.phone.field, $data)">
                                {{user[profile.phone.field] || profile.phone.empty}}
                            </a>
                        </div>
                        <!-- //mobile phone -->
                        <p class="clearfix"></p>
                        <!-- office phone -->
                        <div class="profileLabel">
                            <label>
                                {{profile.tel.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-text="user.tel"
                               onbeforesave="updateUserByDB(profile.tel.field, $data)">
                                {{user[profile.tel.field] || profile.tel.empty}}
                            </a>
                        </div>
                        <!-- //office phone -->
                        <p class="clearfix"></p>
                        <!-- department -->
                        <div class="profileLabel">
                            <label>
                                {{profile.department.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-text="user.department"
                               onbeforesave="updateUserByDB(profile.department.field, $data)">
                                {{user[profile.department.field] || profile.department.empty}}
                            </a>
                        </div>
                        <!-- //department -->
                        <p class="clearfix"></p>
                        <!-- position -->
                        <div class="profileLabel">
                            <label>
                                {{profile.position.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-text="user.position"
                               onbeforesave="updateUserByDB(profile.position.field, $data)">
                                {{user[profile.position.field] || profile.position.empty}}
                            </a>
                        </div>
                        <!-- //position -->
                        <p class="clearfix"></p>
                        <!-- image refresh -->
                        <div class="profileLabel">
                            <label>
                                {{profile.img_refresh.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            <a href=""
                               editable-select="user.flag_img_refresh"
                               e-ng-options="s.value as s.text for s in setting.on_off.statuses"
                               onbeforesave="updateUserByDB(profile.img_refresh.field, $data)">
                                {{showOnOffStatus(user.flag_img_refresh)}}
                            </a>
                        </div>
                        <!-- //image refresh -->
                        <span ng-if="user.flag_img_refresh">
                            <p class="clearfix"></p>
                            <!-- image refresh time -->
                            <div class="profileLabel">
                                <label>
                                    {{profile.img_refresh_interval.name}}
                                </label>
                            </div>
                            <div class="profileValue">
                                <a href=""
                                   editable-number="user.img_refresh_interval"
                                   onbeforesave="updateUserByDB(profile.img_refresh_interval.field, $data)">
                                    {{user[profile.img_refresh_interval.field]}}
                                </a>
                            </div>
                            <!-- //image refresh time -->
                        </span>
                        <p class="clearfix"></p>
                        <!-- position -->
                        <div class="profileLabel">
                            <label>
                                {{profile.dev_vol.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            {{showNumberData(user[profile.dev_cnt.field])}} / {{showNumberData(user[profile.dev_vol.field])}}
                        </div>
                        <!-- //position -->
                        <p class="clearfix"></p>
                        <!-- position -->
                        <div class="profileLabel">
                            <label>
                                {{profile.create_member_vol.name}}
                            </label>
                        </div>
                        <div class="profileValue">
                            {{showNumberData(user[profile.create_member_cnt.field])}} / {{showNumberData(user[profile.create_member_vol.field])}}
                        </div>
                        <!-- //position -->
                        <p class="clearfix"></p>
                    </div>
                    <!-- //right section -->
                    <p class="clearfix"></p>
                </div>
            </div>
        </div>
        <!-- //profileInfoWrap -->
        <!-- logoWrap -->
        <div class="smTablePanelWrap logoWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    Logo
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <div class="logoContent">
                    <div class="preViewLogoImgWrap">
                        <img class="preViewLogoImg" ng-src="{{logo_img_uri}}" alt="site logo image"
                             onError="var blankSrc = './images/live/live_no_img.jpg'; this.src = blankSrc;" />
                    </div>
                    <div class="setLogo">
                        <div class="processProgress" ng-if="files">
                            <progressbar value="progressPercentage" class="progress-striped active" type="{{getLogoImgProgressType(progressPercentage)}}"></progressbar>
                        </div>
                        <div class="fileSearch">
                            <a href="" class="btn btn-default btn-sm ver_black" ng-file-select ng-model="files">
                                Select File
                            </a>
                            <span>
                                <ul class="file_list">
                                    <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
                                </ul>
                            </span>
                            <div ng-file-select ng-file-change="upload_file($files)"></div>
                        </div>
                    </div>
                    <p class="clearfix"></p>
                </div>
            </div>
        </div>
        <!-- //logoWrap -->
        <!-- businessInfoWrap -->
        <div class="smTablePanelWrap businessInfoWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    Business Information
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <div class="businessInfoContent">
                    <div class="businessInfoLine" ng-repeat="item in business">
                        <div class="businessInfoLabel">
                            {{item.name}}
                        </div>
                        <div class="businessInfoValue">
                            <a href=""
                               editable-text="company[item.field]"
                               onbeforesave="updateCorpByDB(item.field, $data)">
                                {{company[item.field] || item.empty}}
                            </a>
                        </div>
                        <p class="clearfix"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- //businessInfoWrap -->
        <p class="clearfix"></p>
    </div>
    <!-- //content -->
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->