<!-- sideMenu -->
<div class="sideMenu adminSide" ng-style="autoStyleHeight()" resize header="49" footer="0" obstacle="0">
    <div class="hideScroll" ng-style="autoStyleHeight()" ng-class="{'onScroll': isScroll('menu')}" resize header="49" footer="0" obstacle="0">
        <!-- groups -->
        <ul class="menu">
            <li ng-repeat="item in admin_side_menu" ng-if="if_showAdminSide()">
                <a href="" ng-class="{'active': onActiveMenu(item.active_tag)}" ng-click="movePage(item.uri)">
                    <i class="fa fa-{{item.icon}} icon"></i>
                    <span class="menuText">
                        {{item.name}}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- //sideMenu -->