<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
            <title>LMM | LinkMeMine</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- payment : i'mport -->
        <!-- script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment.js"></script -->
        <!-- //payment : i'mport -->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
        <link rel="stylesheet" href="bower_components/select2/select2.css" />
        <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" type="text/css" href="styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="styles/font.css" />
        <link rel="stylesheet" type="text/css" href="styles/animate.css" />
        <link rel="stylesheet" type="text/css" href="styles/layout.css" />
        <link rel="stylesheet" type="text/css" href="styles/common.css" />
        <link rel="stylesheet" type="text/css" href="styles/header.css" />
        <link rel="stylesheet" type="text/css" href="styles/footer.css" />

        <link rel="stylesheet" type="text/css" href="styles/access/auth.css" />
        <link rel="stylesheet" type="text/css" href="styles/access/forgot.css" />
        <link rel="stylesheet" type="text/css" href="styles/access/login.css" />
        <link rel="stylesheet" type="text/css" href="styles/access/otp.css" />
        <link rel="stylesheet" type="text/css" href="styles/access/register.css" />

        <link rel="stylesheet" type="text/css" href="styles/intro/features.css" />
        <link rel="stylesheet" type="text/css" href="styles/intro/howItWorks.css" />
        <link rel="stylesheet" type="text/css" href="styles/intro/intro.css" />
        <link rel="stylesheet" type="text/css" href="styles/intro/price.css" />
        <link rel="stylesheet" type="text/css" href="styles/intro/resources.css" />

        <link rel="stylesheet" type="text/css" href="styles/main/admin/admin.css" />
        <link rel="stylesheet" type="text/css" href="styles/main/admin/profile/profile.css" />
        <link rel="stylesheet" type="text/css" href="styles/main/admin/user/user.css" />

        <link rel="stylesheet" type="text/css" href="styles/main/devices/devices.css" />

        <link rel="stylesheet" type="text/css" href="styles/main/help/help.css" />

        <link rel="stylesheet" type="text/css" href="styles/main/live/live.css" />

        <link rel="stylesheet" type="text/css" href="styles/main/reports/reports.css" />
        <link rel="stylesheet" type="text/css" href="styles/main/reports/alert/alert.css" />
        <link rel="stylesheet" type="text/css" href="styles/main/reports/remote/remote.css" />

        <link rel="stylesheet" type="text/css" href="styles/modal/addDevice.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/addDeviceGroup.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/deviceGroupSetting.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/deviceMemo.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/deviceProperty.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/dialogConfirm.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/dialogConfirm_addUser.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/dialogNotify.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/dialogNotify_login.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/fileManager.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/liveDevice.css" />
        <link rel="stylesheet" type="text/css" href="styles/modal/remoteControl.css" />
        <!-- endbuild -->
    </head>
    <body ng-app="lmmApp" ng-controller="LmmAppCtrl">
    <!-- wrap -->
    <div id="wrap" class="page {{pageClass}}" ng-view="">
    </div>
    <!-- //wrap -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/directives/bindHtmlUnsafe.js"></script>
    <script src="scripts/directives/loading.js"></script>
    <script src="scripts/directives/loadingContainer.js"></script>
    <script src="scripts/directives/resize.js"></script>

    <script src="scripts/filters/dateTime.js"></script>

    <script src="scripts/services/common.js"></script>
    <script src="scripts/services/env.js"></script>
    <script src="scripts/services/modal.js"></script>
    <script src="scripts/services/session.js"></script>
    <script src="scripts/services/sharedService.js"></script>

    <script src="scripts/services/api/access.js"></script>
    <script src="scripts/services/api/auth.js"></script>
    <script src="scripts/services/api/autoComplete.js"></script>
    <script src="scripts/services/api/check.js"></script>
    <script src="scripts/services/api/resetPW.js"></script>

    <script src="scripts/services/api/history/audit.js"></script>
    <script src="scripts/services/api/history/remote.js"></script>
    <script src="scripts/services/api/history/alert.js"></script>

    <script src="scripts/services/api/chart/remote.js"></script>

    <script src="scripts/services/api/dash/remote.js"></script>

    <script src="scripts/services/api/models/company.js"></script>
    <script src="scripts/services/api/models/deviceGroups.js"></script>
    <script src="scripts/services/api/models/deviceGroupsConn.js"></script>
    <script src="scripts/services/api/models/devices.js"></script>
    <script src="scripts/services/api/models/managers.js"></script>
    <script src="scripts/services/api/models/users.js"></script>

    <script src="scripts/controllers/lmmApp.js"></script>

    <script src="scripts/controllers/access/auth.js"></script>
    <script src="scripts/controllers/access/forgot.js"></script>
    <script src="scripts/controllers/access/login.js"></script>
    <script src="scripts/controllers/access/logout.js"></script>
    <script src="scripts/controllers/access/otp.js"></script>
    <script src="scripts/controllers/access/register.js"></script>

    <script src="scripts/controllers/intro/features.js"></script>
    <script src="scripts/controllers/intro/howItWorks.js"></script>
    <script src="scripts/controllers/intro/intro.js"></script>
    <script src="scripts/controllers/intro/price.js"></script>
    <script src="scripts/controllers/intro/resources.js"></script>

    <script src="scripts/controllers/main/admin/admin.js"></script>
    <script src="scripts/controllers/main/admin/profile/profile.js"></script>
    <script src="scripts/controllers/main/admin/user/userManage.js"></script>
    <script src="scripts/controllers/main/admin/user/userProfile.js"></script>
    <script src="scripts/controllers/main/admin/user/userRegister.js"></script>

    <script src="scripts/controllers/main/devices/devices.js"></script>

    <script src="scripts/controllers/main/help/help.js"></script>

    <script src="scripts/controllers/main/live/live.js"></script>

    <script src="scripts/controllers/main/reports/reports.js"></script>
    <script src="scripts/controllers/main/reports/alert/alertDash.js"></script>
    <script src="scripts/controllers/main/reports/alert/alertHistory.js"></script>
    <script src="scripts/controllers/main/reports/remote/remoteDash.js"></script>
    <script src="scripts/controllers/main/reports/remote/remoteHistory.js"></script>

    <script src="scripts/controllers/modal/addDevice.js"></script>
    <script src="scripts/controllers/modal/addDeviceGroup.js"></script>
    <script src="scripts/controllers/modal/deviceGroupSetting.js"></script>
    <script src="scripts/controllers/modal/deviceMemo.js"></script>
    <script src="scripts/controllers/modal/deviceProperty.js"></script>
    <script src="scripts/controllers/modal/dialogConfirm.js"></script>
    <script src="scripts/controllers/modal/dialogConfirm_addUser.js"></script>
    <script src="scripts/controllers/modal/dialogNotify.js"></script>
    <script src="scripts/controllers/modal/dialogNotify_login.js"></script>
    <script src="scripts/controllers/modal/fileManager.js"></script>
    <script src="scripts/controllers/modal/liveDevice.js"></script>
    <script src="scripts/controllers/modal/remoteControl.js"></script>

    <script src="scripts/controllers/highcharts.js"></script>
    <!-- endbuild -->
    </body>
</html>
