<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="45">
    <!-- side -->
    <div class="side" ng-include="adminSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content userManageWrap" ng-controller="UserManageCtrl">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.admin.title"></span>
                <span class="subTitle" translate="content.admin.subTitle"></span>
            </p>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default userRegBtn" ng-click="movePage('main/admin/user/register')">
                        <i class="fa fa-user-plus"></i> Register
                    </a>
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" tooltip="Refresh" ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2', 'user_manage')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- userListWrap -->
        <div class="smTablePanelWrap userListWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    User List
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <!-- userListMenu -->
                <div class="userListMenu">
                    <p class="clearfix"></p>
                    <div class="tableMenuLine">
                        <div class="tableInfoSection">
                            <div class="totalBox">
                                <span class="totalLabel">Total :</span><span class="totalValue brand-info ver_info">{{userManageTable.total()}}</span><span class="totalUnit">item(s)</span>
                            </div>
                            <div class="lineBox">
                                <span class="lineLabel">Lines :</span>
                                <select class="input_default selectLine" ng-options="limit.value for limit in userManageTableLimits" ng-model="userManageTableLimit" ng-change="userManageTable.count(userManageTableLimit.value)">
                                </select>
                            </div>
                        </div>
                    </div>
                    <p class="clearfix"></p>
                </div>
                <!-- //userListMenu -->
                <!-- userListContent -->
                <div class="userListContent">
                    <table class="smTable userManageTable" ng-table="userManageTable">
                        <thead>
                        <tr>
                            <th ng-repeat="header in userManageTableHeader" class="{{header.className}}"
                                ng-class="{'sortable': header.sortable, 'sort-asc': userManageTable.isSortBy(header.field, 'asc'), 'sort-desc': userManageTable.isSortBy(header.field, 'desc')}"
                                ng-click="header.sortable ? userManageTable.sorting(header.field, userManageTable.isSortBy(header.field, 'asc') ? 'desc' : 'asc') : ''">
                                <div>
                                    <span>
                                        {{header.name}}
                                    </span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr ng-repeat="item in $data" ng-if="!if_showUserManageData(item.pk)" class="brand-info-line">
                            <td colspan="{{userManageTableCol}}">
                                <div>
                                    <span class="brand-info">{{config_str.EMPTY}}</span>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="item in $data" ng-if="if_showUserManageData(item.pk)">
                            <td class="no">
                                {{(userManageTable.page() - 1) * userManageTable.count() + $index + 1}}
                            </td>
                            <td class="mail">
                                <a href="" class="brand-info" ng-click="moveUserDetailPage(item.pk)">
                                    {{item.mail}}
                                </a>
                            </td>
                            <td class="phone">
                                {{item.phone}}
                            </td>
                            <td class="status">
                                <a href=""
                                   editable-select="item.flag_active"
                                   e-ng-options="s.value as s.text for s in setting.active.statuses"
                                   onbeforesave="updateUserByDB_Manager('flag_active', $data, item.pk)">
                                    {{showUserActiveStatus(item.flag_active)}}
                                </a>
                            </td>
                            <td class="del">
                                <a href="" class="btn btn-xs btn-danger ver_danger" ng-click="openDialogConfirm_atUserManagement(item)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //userListContent -->
            </div>
        </div>
        <!-- //userListWrap -->
    </div>
    <!-- //content -->
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->