<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="45">
    <!-- side -->
    <div class="side" ng-include="adminSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content userProfileWrap" ng-controller="UserProfileCtrl">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.admin.title"></span>
                <span class="subTitle" translate="content.admin.subTitle"></span>
            </p>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" tooltip="Refresh" ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2', 'user_manage')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step5"></i>
                    <a href="" ng-if="thisPath.step5" ng-click="movePath(thisPath, 'step5')">
                        {{thisPath.step5.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- userProfileInfoWrap -->
        <div class="smTablePanelWrap userProfileInfoWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    User Profile
                </span>
                <span class="guide_msg brand-info ver_info">
                    {{user_profile.guide_msg}}
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <div class="userProfileInfoContent">
                    <!-- left section -->
                    <div class="userProfileInfoLine leftSection">
                        <!-- email -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.id.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <span ng-if="if_showMemberProfileData(member[user_profile.id.field])">
                                {{member[user_profile.id.field]}}
                            </span>
                            <span class="brand-NA" ng-if="!if_showMemberProfileData(member[user_profile.id.field])">N/A</span>
                        </div>
                        <!-- //email -->
                        <p class="clearfix"></p>
                        <!-- PASSWORD -->
                        <div class="profileInfoLabel">
                            <label for="user_profile.password.id">
                                {{user_profile.password.name}} <span class="isRequired" ng-if="user_profile.password.isRequired"><i class="fa fa-asterisk brand-danger ver_danger"></i></span>
                            </label>
                        </div>
                        <div class="profileInfoValue" ng-if="!user_profile.password.edit_flag">
                            <a class="btn btn-default btn-sm ver_purple" href="" ng-click="editPassword()">Edit</a>
                        </div>
                        <div class="profileInfoValue" ng-if="user_profile.password.edit_flag">
                            <input class="input_default password_input {{user_profile.password.status_class}}" id="user_profile.password.id" type="password" ng-model="user_profile.password.value" ng-change="validatePassword()" /> <a href="" class="btn btn-default btn-sm ver_default cancelSaveBtn" ng-click="cancelEditPassword()">Cancel</a>
                            <p class="clearfix"></p>
                        </div>
                        <!-- //PASSWORD -->
                        <span ng-if="user_profile.password.edit_flag">
                            <p class="clearfix"></p>
                            <!-- retype password -->
                            <div class="profileInfoLabel">
                                <label for="user_profile.retype_password.id">
                                    {{user_profile.retype_password.name}} <span class="isRequired" ng-if="user_profile.retype_password.isRequired"><i class="fa fa-asterisk brand-danger ver_danger"></i></span>
                                </label>
                            </div>
                            <div class="profileInfoValue">
                                <input class="input_default retype_password_input {{user_profile.retype_password.status_class}}" id="user_profile.retype_password.id" type="password" ng-model="user_profile.retype_password.value" ng-change="validatePassword()" ng-disabled="!user_profile.retype_password.edit_flag" /> <a href="" class="btn btn-default btn-sm ver_danger passwordSaveBtn" ng-disabled="!user_profile.retype_password.save_flag" ng-click="updateUserByDB(user_profile.password.field, profile.password.value)">Save</a>
                                <p class="clearfix"></p>
                            </div>
                            <!-- //retype password -->
                        </span>
                        <p class="clearfix"></p>
                        <!-- 2 step -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.step2.name}}
                            </label>
                            <a href="" class="btn btn-default btn-xs ver_danger otpResetBtn" ng-click="otp_reset()">Reset</a>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-select="member.flag_use_otp"
                               e-ng-options="s.value as s.text for s in setting.on_off.statuses"
                               onbeforesave="updateUserByDB(user_profile.step2.field, $data)">
                                {{showOnOffStatus(member.flag_use_otp)}}
                            </a>
                        </div>
                        <!-- //2 step -->
                        <p class="clearfix"></p>
                        <!-- time zone -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.time_zone.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-select="member.time_zone_id"
                               e-ng-options="s.value as s.text for s in setting.time_zone.statuses"
                               onbeforesave="updateUserByDB(user_profile.time_zone.field, $data)">
                                {{showTimeZoneStatus(member.time_zone_id)}}
                            </a>
                        </div>
                        <!-- //time zone -->
                        <p class="clearfix"></p>
                        <!-- date format -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.date_fmt.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-select="member.date_fmt_id"
                               e-ng-options="s.value as s.text for s in setting.date_fmt.statuses"
                               onbeforesave="updateUserByDB(user_profile.date_fmt.field, $data)">
                                {{showDateFormatStatus(member.date_fmt_id)}}
                            </a>
                        </div>
                        <!-- //date format -->
                        <!-- duplicate_login --
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.duplicate_login.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-select="member.flag_duplicate_prevent"
                               e-ng-options="s.value as s.text for s in setting.on_off.statuses"
                               onbeforesave="updateUserByDB(user_profile.duplicate_login.field, $data)">
                                {{showOnOffStatus(member.flag_duplicate_prevent)}}
                            </a>
                        </div>
                        <!-- //duplicate_login -->
                        <p class="clearfix"></p>
                        <!-- refresh -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.refresh.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-select="member.flag_refresh"
                               e-ng-options="s.value as s.text for s in setting.on_off.statuses"
                               onbeforesave="updateUserByDB(user_profile.refresh.field, $data)">
                                {{showOnOffStatus(member.flag_refresh)}}
                            </a>
                        </div>
                        <!-- //refresh -->
                        <span ng-if="member.flag_refresh">
                            <p class="clearfix"></p>
                            <!-- refresh time -->
                            <div class="profileInfoLabel">
                                <label>
                                    {{user_profile.refresh_interval.name}}
                                </label>
                            </div>
                            <div class="profileInfoValue">
                                <a href=""
                                   editable-number="member.refresh_interval"
                                   onbeforesave="updateUserByDB(user_profile.refresh_interval.field, $data)">
                                    {{member[user_profile.refresh_interval.field]}}
                                </a>
                            </div>
                            <!-- //refresh time -->
                        </span>
                        <p class="clearfix"></p>
                    </div>
                    <!-- //left section -->
                    <!-- right section -->
                    <div class="userProfileInfoLine rightSection">
                        <!-- name -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.name.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-text="member.name"
                               onbeforesave="updateUserByDB(user_profile.name.field, $data)">
                                {{member[user_profile.name.field] || user_profile.name.empty}}
                            </a>
                        </div>
                        <!-- //name -->
                        <p class="clearfix"></p>
                        <!-- mobile phone -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.phone.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-text="member.phone"
                               onbeforesave="updateUserByDB(user_profile.phone.field, $data)">
                                {{member[user_profile.phone.field] || user_profile.phone.empty}}
                            </a>
                        </div>
                        <!-- //mobile phone -->
                        <p class="clearfix"></p>
                        <!-- office phone -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.tel.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-text="member.tel"
                               onbeforesave="updateUserByDB(user_profile.tel.field, $data)">
                                {{member[user_profile.tel.field] || user_profile.tel.empty}}
                            </a>
                        </div>
                        <!-- //office phone -->
                        <p class="clearfix"></p>
                        <!-- department -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.department.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-text="member.department"
                               onbeforesave="updateUserByDB(user_profile.department.field, $data)">
                                {{member[user_profile.department.field] || user_profile.department.empty}}
                            </a>
                        </div>
                        <!-- //department -->
                        <p class="clearfix"></p>
                        <!-- position -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.position.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-text="member.position"
                               onbeforesave="updateUserByDB(user_profile.position.field, $data)">
                                {{member[user_profile.position.field] || user_profile.position.empty}}
                            </a>
                        </div>
                        <!-- //position -->
                        <p class="clearfix"></p>
                        <!-- image refresh -->
                        <div class="profileInfoLabel">
                            <label>
                                {{user_profile.img_refresh.name}}
                            </label>
                        </div>
                        <div class="profileInfoValue">
                            <a href=""
                               editable-select="member.flag_img_refresh"
                               e-ng-options="s.value as s.text for s in setting.on_off.statuses"
                               onbeforesave="updateUserByDB(user_profile.img_refresh.field, $data)">
                                {{showOnOffStatus(member.flag_img_refresh)}}
                            </a>
                        </div>
                        <!-- //image refresh -->
                        <span ng-if="member.flag_img_refresh">
                            <p class="clearfix"></p>
                            <!-- image refresh time -->
                            <div class="profileInfoLabel">
                                <label>
                                    {{user_profile.img_refresh_interval.name}}
                                </label>
                            </div>
                            <div class="profileInfoValue">
                                <a href=""
                                   editable-number="member.img_refresh_interval"
                                   onbeforesave="updateUserByDB(user_profile.img_refresh_interval.field, $data)">
                                    {{member[user_profile.img_refresh_interval.field]}}
                                </a>
                            </div>
                            <!-- //image refresh time -->
                        </span>
                        <p class="clearfix"></p>
                    </div>
                    <!-- //right section -->
                    <p class="clearfix"></p>
                </div>
            </div>
        </div>
        <!-- //userProfileInfoWrap -->
        <div class="panelAnELine">
            <p class="clearfix"></p>
            <!-- userProfileAuthWrap -->
            <div class="smTablePanelWrap userProfileAuthWrap">
                <div class="tablePanelHeader">
                <span class="title">
                    Authorizations
                </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody">
                    <div class="userProfileAuthContent"></div>
                </div>
            </div>
            <!-- //userProfileAuthWrap -->
            <!-- userProfileDGWrap -->
            <div class="smTablePanelWrap userProfileDGWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Enabled Device Groups
                    </span>
                    <span class="guide_msg brand-info ver_info">
                        {{conn_guide_msg}}
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody">
                    <div class="userProfileDGContent">
                        <table ng-table="deviceGroupTable" class="smTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in deviceGroupTableHeader" class="{{header.className}}">
                                        <div>
                                            <span>
                                                {{header.name}}
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr ng-repeat="item in $data" ng-if="!if_showDeviceGroupData(item.pk)" class="brand-info-line">
                                    <td colspan="{{deviceGroupTableCol}}">
                                        <div>
                                            <span class="brand-info">{{config_str.EMPTY}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="item in $data" ng-if="if_showDeviceGroupData(item.pk)" ng-class="{'brand-gray-line': $odd}">
                                    <td class="no">
                                        <div>
                                            <span>
                                                <label class="i-checks">
                                                    <input type="checkbox" ng-click="sign_device_group(item)" ng-model="item.active"/><i></i>
                                                </label>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="name">
                                        <div>
                                            <span>
                                                {{item.name}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="create_time">
                                        <div>
                                            <span>
                                                {{item.create_time | DateTime: showDateFormatStatus(user.date_fmt_id)+"T"+showTimeFormatStatus() : showTimeZoneData(user.time_zone_id)}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- //userProfileDGWrap -->
            <p class="clearfix"></p>
        </div>
        <p class="clearfix"></p>
    </div>
    <!-- //content -->
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->