<!-- header -->
<div id="header" ng-include="header_uri"></div>
<!-- //header -->
<!-- loading -->
<div class="status_loading" ng-include="loading_uri"></div>
<!-- //loading -->
<!-- container -->
<div class="lmmContainer" ng-style="autoStyleMinHeight()" resize header="49" footer="0" obstacle="45">
    <!-- side -->
    <div class="side" ng-include="adminSide_uri"></div>
    <!-- //side -->
    <!-- content -->
    <div class="content userRegWrap" ng-controller="UserRegCtrl">
        <!-- smHeader -->
        <div class="smHeader">
            <p class="titleLine">
                <span class="title" translate="content.admin.title"></span>
                <span class="subTitle" translate="content.admin.subTitle"></span>
            </p>
            <div class="mainFuncLine">
                <div class="btns">
                    <a href="" class="btn btn-default btn-xs ver_default refreshBtn" tooltip="Refresh" ng-click="directRefresh()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="thisPath">
                    <a href="" ng-if="thisPath.step1" ng-click="movePath(thisPath, 'step1')">
                        <i class="fa fa-home"></i>
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step2"></i>
                    <a href="" ng-if="thisPath.step2" ng-click="movePath(thisPath, 'step2', 'user_manage')">
                        {{thisPath.step2.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step3"></i>
                    <a href="" ng-if="thisPath.step3" ng-click="movePath(thisPath, 'step3')">
                        {{thisPath.step3.name}}
                    </a>
                    <i class="fa fa-angle-right" ng-if="thisPath.step4"></i>
                    <a href="" ng-if="thisPath.step4" ng-click="movePath(thisPath, 'step4')">
                        {{thisPath.step4.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- //smHeader -->
        <!-- userRegInfoWrap -->
        <div class="smTablePanelWrap userRegInfoWrap">
            <div class="tablePanelHeader">
                <span class="title">
                    Information
                </span>
                <span class="guide_msg brand-info ver_info">
                    {{reg_user_info.guide_msg}}
                </span>
                <p class="clearfix"></p>
            </div>
            <div class="tablePanelBody">
                <div class="userRegInfoContent">
                    <!-- left section -->
                    <div class="userRegInfoLine leftSection">
                        <!-- mail -->
                        <div class="regInfoLabel">
                            <label for="reg_user_info.mail.id">
                                <i class="fa" ng-show="reg_user_info.mail.status != 0" ng-class="{'fa-check brand-success': reg_user_info.mail.status==3, 'fa-ban brand-danger': reg_user_info.mail.status==2, 'fa-warning brand-warning': reg_user_info.mail.status==1}"></i> {{reg_user_info.mail.name}}
                            </label>
                        </div>
                        <div class="regInfoValue">
                            <input class="input_default" ng-class="{'border-success': reg_user_info.mail.status==3, 'border-danger': reg_user_info.mail.status==2, 'border-warning': reg_user_info.mail.status==1}" id="reg_user_info.mail.id" type="email" tooltip="{{reg_user_info.mail.notice}}" tooltip-trigger="focus" ng-change="checkInputUser()" ng-model="reg_user_info.mail.value" />
                            <span class="receptionEmail" ng-class="{'active': reg_user_info.recept_mail.value}">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="reg_user_info.recept_mail.value"/><i></i> Receive e-mail services and events.
                                </label>
                            </span>
                        </div>
                        <!-- //mail -->
                        <p class="clearfix"></p>
                        <!-- PASSWORD -->
                        <div class="regInfoLabel">
                            <label for="reg_user_info.password.id">
                                <i class="fa" ng-show="reg_user_info.password.status != 0" ng-class="{'fa-check brand-success': reg_user_info.password.status==3, 'fa-ban brand-danger': reg_user_info.password.status==2, 'fa-warning brand-warning': reg_user_info.password.status==1}"></i> {{reg_user_info.password.name}} <span class="isRequired" ng-if="reg_user_info.password.isRequired"><i class="fa fa-asterisk brand-danger ver_danger"></i></span>
                            </label>
                        </div>
                        <div class="regInfoValue">
                            <input class="input_default" ng-class="{'border-success': reg_user_info.password.status==3, 'border-danger': reg_user_info.password.status==2, 'border-warning': reg_user_info.password.status==1}" id="reg_user_info.password.id" type="password" tooltip="{{reg_user_info.password.notice}}" tooltip-trigger="focus" ng-change="checkInputUser()" ng-model="reg_user_info.password.value" />
                        </div>
                        <!-- //PASSWORD -->
                        <p class="clearfix"></p>
                        <!-- Retype PASSWORD -->
                        <div class="regInfoLabel">
                            <label for="reg_user_info.retype_password.id">
                                <i class="fa" ng-show="reg_user_info.retype_password.status != 0" ng-class="{'fa-check brand-success': reg_user_info.retype_password.status==3, 'fa-ban brand-danger': reg_user_info.retype_password.status==2, 'fa-warning brand-warning': reg_user_info.retype_password.status==1}"></i> {{reg_user_info.retype_password.name}} <span class="isRequired" ng-if="reg_user_info.retype_password.isRequired"><i class="fa fa-asterisk brand-danger ver_danger"></i></span>
                            </label>
                        </div>
                        <div class="regInfoValue">
                            <input class="input_default" ng-class="{'border-success': reg_user_info.retype_password.status==3, 'border-danger': reg_user_info.retype_password.status==2, 'border-warning': reg_user_info.retype_password.status==1}" id="reg_user_info.retype_password.id" type="password" tooltip="{{reg_user_info.retype_password.notice}}" tooltip-trigger="focus" ng-change="checkInputUser()" ng-model="reg_user_info.retype_password.value" />
                        </div>
                        <!-- //Retype PASSWORD -->
                        <p class="clearfix"></p>
                        <!-- duplicate_login --
                        <div class="regInfoLabel">
                            <label>
                                {{reg_user_info.duplicate_login.name}}
                            </label>
                        </div>
                        <div class="regInfoValue">
                            <label class="i-checks">
                                <input type="checkbox" ng-model="reg_user_info.duplicate_login.value"/><i></i>
                            </label>
                        </div>
                        <!-- //duplicate_login -->
                        <p class="clearfix"></p>
                    </div>
                    <!-- //left section -->
                    <!-- right section -->
                    <div class="userRegInfoLine rightSection">
                        <!-- name -->
                        <div class="regInfoLabel">
                            <label for="reg_user_info.name.id">
                                {{reg_user_info.name.name}}
                            </label>
                        </div>
                        <div class="regInfoValue">
                            <input class="input_default" id="reg_user_info.name.id" type="text" ng-model="reg_user_info.name.value" />
                        </div>
                        <!-- //name -->
                        <p class="clearfix"></p>
                        <!-- phone -->
                        <div class="regInfoLabel">
                            <label for="reg_user_info.phone.id">
                                {{reg_user_info.phone.name}}
                            </label>
                        </div>
                        <div class="regInfoValue">
                            <input class="input_default" id="reg_user_info.phone.id" type="text" ng-model="reg_user_info.phone.value" />
                        </div>
                        <!-- //phone -->
                        <p class="clearfix"></p>
                        <!-- tel -->
                        <div class="regInfoLabel">
                            <label for="reg_user_info.tel.id">
                                {{reg_user_info.tel.name}}
                            </label>
                        </div>
                        <div class="regInfoValue">
                            <input class="input_default" id="reg_user_info.tel.id" type="text" ng-model="reg_user_info.tel.value" />
                        </div>
                        <!-- //tel -->
                        <p class="clearfix"></p>
                        <!-- position -->
                        <div class="regInfoLabel">
                            <label for="reg_user_info.position.id">
                                {{reg_user_info.position.name}}
                            </label>
                        </div>
                        <div class="regInfoValue">
                            <input class="input_default" id="reg_user_info.position.id" type="text" ng-model="reg_user_info.position.value" />
                        </div>
                        <!-- //position -->
                        <p class="clearfix"></p>
                        <!-- department -->
                        <div class="regInfoLabel">
                            <label for="reg_user_info.department.id">
                                {{reg_user_info.department.name}}
                            </label>
                        </div>
                        <div class="regInfoValue">
                            <input class="input_default" id="reg_user_info.department.id" type="text" ng-model="reg_user_info.department.value" />
                        </div>
                        <!-- //department -->
                        <p class="clearfix"></p>
                    </div>
                    <!-- //right section -->
                    <p class="clearfix"></p>
                </div>
            </div>
        </div>
        <!-- //userRegInfoWrap -->
        <div class="panelAnELine">
            <p class="clearfix"></p>
            <!-- userRegAuthWrap -->
            <div class="smTablePanelWrap userRegAuthWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Authorizations
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody">
                    <div class="userRegAuthContent"></div>
                </div>
            </div>
            <!-- //userRegAuthWrap -->
            <!-- userRegDGWrap -->
            <div class="smTablePanelWrap userRegDGWrap">
                <div class="tablePanelHeader">
                    <span class="title">
                        Enabled Device Groups
                    </span>
                    <p class="clearfix"></p>
                </div>
                <div class="tablePanelBody">
                    <div class="userRegDGContent"></div>
                </div>
            </div>
            <!-- //userRegDGWrap -->
            <p class="clearfix"></p>
        </div>
        <!-- userRegBtnWrap -->
        <div class="userRegBtnWrap">
            <a href="" class="btn btn-default ver_success userRegBtn" ng-disabled="signUpUserDisabled()" ng-click="openDialogConfirm_AddUser()">
                Submit
            </a>
        </div>
        <!-- //userRegBtnWrap -->
        <p class="clearfix"></p>
    </div>
    <!-- //content -->
</div>
<!-- //container -->
<!-- footer -->
<div id="footer" ng-include="footer_uri"></div>
<!-- //footer -->